[2019-12-10 20:52] svenddk opened #1 "Installation guide"
Hi,

Just an idea: Would it be possible that you add a short installation guide? Because I am not familiar with the Cura folder structure so it would be a great help ... and today I did not manage to make the plug in work. I just managed to crash Cura 4.4a couple of times.

BR svenddk

[2019-12-10 20:56] svenddk commented on #1
BTW, a great initiative that you fixed the plugin for Cura 4.4 ... seems that Makerbase don't care so much.
Thanks!

[2019-12-12 18:15] svenddk commented on #1
Solved. I found out the Cura folder structure.

[2019-12-12 18:48] Jeredian opened #2 "Cura crashes when loading plugin"
![image](https://user-images.githubusercontent.com/9591166/70739626-50388480-1d28-11ea-999d-fb51489b96f6.png)

[2019-12-12 18:51] Jeredian commented on #1
Sorry for the long answering.
I thought about placing plugin into Cura Marketplace to easy install, but still not found information on how to do that.

I'll add short help steps to install plugin in the next commit.
About Cura crash, you can look at the crash report. If it looks like the screenshot in this issue [Issue2](https://github.com/Jeredian/mks-wifi-plugin/issues/2)  , so I'm working on it

[2019-12-12 19:19] Jeredian commented on #2
The temporary solution is in renaming the "mks-wifi-pluigin" folder to "MKS Plugin".
This issue happens because in startDiscovery() method was hardcoded plugin folder name.

[2019-12-12 19:47] #2 closed

[2019-12-12 19:49] svenddk commented on #1
No problem, it's working without issues. Thanks.

BR svenddk

[2019-12-12 20:01] svenddk commented on #1
You can access the Cura Marketplace here http://contribute.ultimaker.com/ then create an account. Log in to your account and click on the squares in the upper right corner - select "Contributor portal". New pop-up asks you to create a contributor account, from there you should be able to share your plugin. It asks for your website, for this I used my github page. Seems to work!
BR svenddk

[2019-12-12 20:08] Jeredian commented on #1
Thank you for helping. I'll try to add this plugin to Marketplace.

[2019-12-12 20:46] Jeredian commented on #1
I submitted a plugin to Marketplace, let's wait when it be approved

[2019-12-17 13:19] Jeredian commented on #1
The plugin now available at Cura MarketPlace

[2019-12-17 13:19] #1 closed

[2019-12-20 18:18] Jeredian opened #6 "Corrupted Image on display model preview"

[2019-12-20 18:20] Jeredian opened #7 "Auto-discovery compatible printers"

[2019-12-21 14:45] bilou24an199 opened #8 "MKS plugin for Cura 4.1"
hello i found trouble with the plugin for Cura 4.1

i run printing on the sbase 1.3 with the TFT 35. Printing from USB stick

when i want to make a gcode for tft = if a post processing is done in Cura 4.1 to had a pause at Z height the picture of the part in tft is not good read by the tft and the printing not loading. no action on heat bed and extruder

i think that i have trouble too, to have a

[2019-12-21 15:12] #6 closed

[2019-12-21 15:20] Jeredian commented on #8
Hello,

If I understand right, you want to pause printing via gcode. In this way it's related to Cura gcode processing, and not with wifi plugin.
After Wifi plugin uploaded file to sdcard\usb stick, it sends M23 and M24 command to print file.
If you want to pause/resume print from Monitor in Cura,  you can use Resume\Pause button. It send M25 command to pause and M24 command to continue printing.

[2019-12-21 17:32] bilou24an199 commented on #8
Hello,

sorry for my question which is not in the good section but i have found a link on the "official" MKS Github
https://github.com/makerbase-mks/Software/issues/14

and this link was about the mks tft plugin, so you are right i am not in the good section but thank you very much for your support and your reactivity to do an anwser because on th official one, it's usually to have no support from

[2019-12-21 17:48] Jeredian commented on #8
There is another thing, you can save the file not like "save to tft file", but as "save to file". and then manually copy it to usb stick. if there will be the same issue, this thing will be related to Cura slice process.
Also, you can try to update Cura version to the latest (4.4.0+), and check is it solve your issue.

[2019-12-21 18:22] bilou24an199 commented on #8
thank for the repply

i tried to copy the begin of the tft gcode (lines with M10086 beginning) in the gocode with the post processing but i don't why the graphic of the file is totally corrupt.

i'll follow your advice and try to pass to the last version of cura to check is the pb is the same or not.

for the pause in tft and Mks board i think there is a big trouble

https://github.com/makerbase-m

[2019-12-21 18:32] Jeredian commented on #8
I compared code with saving "to TFT file" with common "to file". They looked like similar, except saving settings at the end of the file, if they exist. Not sure is an issue related to it or not, but I'll check this tomorrow.
But if this trouble with the firmware I'm not sure how can I help.

[2019-12-24 10:43] Jeredian opened #10 "Auto-Rename existed file with file mask"
add to plugin settings mask to an auto-rename new file if older one exists.

[2020-01-06 12:59] Jeredian commented on #8
I'm closing issue because it's not related to the plugin

[2020-01-06 12:59] #8 closed

[2020-01-06 18:07] vicodin77 commented on #10
А когда можно ожидать появления данного функционала?

[2020-01-06 21:36] Jeredian commented on #10
После праздников, как только появится свободное время. Надеюсь до окончания января.

[2020-01-13 16:14] Error26 opened #11 "The model preview in does not work correctly. (Cura version 4.4.1, plugin version 1.0.2)"
The previous model review does not work correctly.
I have MKS TFT35 v1.0 firmware 1.0.2.
Cura version 4.4.1 Plugin version 1.0.2.
![IMG_20200110_140317](https://user-images.githubusercontent.com/31626085/72271634-ea456280-362f-11ea-890c-e6c40811e897.jpg)
![IMG_20200110_140328](https://user-images.githubusercontent.com/31626085/72271635-ea456280-362f-11ea-9c77-b6433c838d15.jpg)

[2020-01-13 16:49] Error26 commented on #11
I can give an old version of Cura with a working plugin.
https://drive.google.com/open?id=19DTEfol_n55qEbuVwAuwZxx4jwVb4mWJ

[2020-01-13 16:53] Jeredian commented on #11
I seems that your preview image size is different than mine.  Because we have different firmware.
I can suggest some simple steps to find your preview size. And I will add it in future releases of the plugin (something like select box for preview size in the plugin popup).
So here are the steps:
1. Close Cura.
2. Go to Plugin folder.
Open the Cura configuration folder. It can be found via Help ->

[2020-01-13 16:56] Jeredian commented on #11
If the older version of the plugin works for you, there will be size like this
`save_file.write(utils.add_screenshot(image, 100, 100, ";simage:"))`.

[2020-01-13 17:02] Error26 commented on #11
Thank you.

[2020-01-22 09:33] sizanjavad commented on #11
worked for me. thank you.

[2020-01-30 20:37] Operrr commented on #11
Many thanks to the author. Everything is fine.

[2020-03-04 20:09] svenddk opened #12 "File transfer by wi-fi to MKS-TFT35 broken in Cura 4.5.0"
Hi,

File transfer by wi-fi to MKS-TFT35 is not working. When file has been transferred then printer does not start heating, it only starts printing in the air and then ends the print job within a few seconds. Same failure when saving tft file to sd card and then putting sd card into TFT35. Print preview pictue on TFT35 is blurred. Problem for TFT35 firmware 1.0.3 and 1.0.4 so I guess that there i

[2020-03-05 05:49] Bradley-Liu commented on #12
cura 4.4 has the same issue.

[2020-03-05 07:46] svenddk commented on #12
For me, the jeredian mks-wifi-plugin worked perfectly in Cura 4.4. Problem only with Cura 4.5.

MKS plugins https://github.com/makerbase-mks/Software/tree/master/MKS%20Plugin have not been updated for a long time. This caused problems with Cura 4.4. There are many plugins, the  jeredian mks-wifi-plugin is one of the good plugins.

[2020-03-10 11:01] Jeredian commented on #12
After I update Cura to the latest version, I'll check this and hopefully can fix it

[2020-03-10 18:57] svenddk commented on #12
Perfect, thanks. I trust that youcan fix it and look forward to the update.

[2020-04-16 11:04] makerbase-mks commented on #12
@svenddk You can try this version: https://github.com/makerbase-mks/mks-wifi-plugin

[2020-04-19 08:08] svenddk commented on #12
Please release a working version in Cura marketplace, thanks. There has been way too much trouble with Makerbase wifi plugin for Cura due to lack of support and updates from Makerbase so I am looking for another solution.

[2020-04-19 13:26] Jeredian commented on #12
@svenddk , can you test a version from the pull request #13 ?
If it solves your issue please let me know?
Does it happen with all models that you tried to print, or only with a one?
Sorry for a long absence, I was a little busy on the main work but now I'm back
On next week I'll merge the latest changes from makerbase, and then will start work on your issue.

[2020-04-19 13:35] Jeredian commented on #12
@svenddk , Also can you check your issue, on the latest beta version of Cura?
(https://github.com/Ultimaker/Cura/releases/tag/4.6-beta)
Because if it happens only since 4.5 maybe they change something Cura API, and when we slice model we have a gap between surface and model.
Also please take a look at your start G-code for the printer, this code always copy-pasting to the start of wifi-sended g-co

[2020-04-19 20:25] svenddk commented on #12
@Jeredian sorry but no, I have given up the Makerbase wifi plugin

[2020-04-19 20:25] #12 closed

[2020-05-05 10:33] MKS-Sean commented on #12
https://github.com/makerbase-mks/mks-wifi-plugin
I tested this plug-in. TFT35 transfers files via wifi and starts printing. It can print normally. The print interface cannot display the preview.The preview can be displayed normally if you load the file from the SD card and start printing.The problem was improper handling of TFT35 and cura plugin.

[2020-05-05 13:08] Jeredian commented on #12
Hi @MKS-Sean ,  thanks for a testing version from makerbase. I'm glad that printing is working for you.
About image preview size - it's a known issue, and the next release at the market place will fix that behavior.
Also, I described this issue and short workaround how you can fix preview image size  https://github.com/Jeredian/mks-wifi-plugin/issues/11

[2020-05-10 06:17] Bradley-Liu commented on #11
Cura 4.6 not working I am using 1.0.5 version tft35 preview not working

[2020-05-14 23:49] Elaugaste commented on #11
Привет, извините что по русски, мой инглиш слишком плох.

Было бы крайне здорово сделать формирование превью опциональным, т.к. существуют принтеры которые не умеют адекватно переваривать лишний хлам в файле с гкодом.

MKS Robin mini например внезапно может забурится соплом в стол или пытаться унести голову за аппаратные пределы

[2020-05-15 10:04] Jeredian commented on #11
@Bradley-Liu , new Cura has a little bit different API. I'll update the plugin on next week to support the new version, and also with fixes for preview.

[2020-05-15 10:06] Jeredian commented on #11
@Elaugaste , Добрый вечер. Рад что у Вас получилось разобраться до того нового релиза.
Если не сложно то сделайте пулл реквест в мой репозиторий, и в выходные, либо на следующей неделе он будет доступен через cura marketplace

[2020-05-15 15:18] Elaugaste commented on #11
@Jeredian
пулл реквест сделал, но я отфорковался не от вашего мастера а от другого форка.
потому там только последний коммит содержит нужные изменения...

[2020-05-28 11:24] karabas2011 commented on #11
плагин будет коннектиться к произвольному принтеру с MKS TFT35 + MKS wifi?
Cura 4.6.1 не коннектится и не видит номер  прошивки

[2020-05-28 11:30] Jeredian commented on #11
@karabas2011 , по идее должен.  Более развернуто могут ответить разработчики makerbase я думаю. либо спроси в группе https://t.me/K_3_D

Номер прошивки не видит потому что makerBase не прикрутили это. в ближайших релизах возможно сами допилим.

[2020-05-28 11:46] Jeredian commented on #11
@karabas2011 , сама по себе Cura не умеет соединяться с принтером , а плагин может только к тем кого видит в своей подсети, конечно с учетом что это MKS TFT35,  и в идеале плата mks robin

[2020-05-28 11:53] karabas2011 commented on #11
ну да плагин я поставил, зайти на вайфайку могу броузером или пронтерфейсом, то есть она доступна по сети.

[2020-05-28 11:56] karabas2011 commented on #11
кстати если коннектиться пронтерфейсом половина команд не отзывается. например M119, M503  и тд. а M105 отзвается. M115 выводит строку самой вайфайки. Интересно есть способ насквозь команды пропускать в принтер?

[2020-05-28 12:04] Jeredian commented on #11
@karabas2011 , может у тебя плата какая специфичная ?
вроде как там просто команды должны посылаться на плату, и обратный ответ от нее

[2020-05-28 12:08] Jeredian commented on #11
@karabas2011 ,  касательно команду думаю надо создавать issue тут : https://github.com/makerbase-mks/MKS-TFT/tree/master/MKS-TFT3.5

[2020-05-28 12:13] Jeredian commented on #11
@karabas2011 , про подключение через Cura - распиши как ты это делал, может какой то шаг пропустил.
Если что авто поиск принтера в сети пока еще не добавлен, там надо в ручную ip принтера указывать. и потом нажимать connect button

[2020-05-28 12:57] karabas2011 commented on #11
так а там собственно нечего делать. как только плагин поставил он тут же вписался в текущий принтер как кнопка MKS WIFI. Нажал - ввёл IP  а дальше фиг.

[2020-05-28 13:00] Elaugaste commented on #11
логи куры нужно смотреть

[2020-05-28 13:37] karabas2011 commented on #11
таймаут и реконнекты

[2020-05-28 13:37] karabas2011 commented on #11
подробностей не пишет.

[2020-05-28 14:02] Elaugaste commented on #11
@karabas2011 попробуйте прожать telnet на порт 8080.  Плагин стучится в него,  возможно у вас на другой порт нужно ходить

[2020-05-29 18:57] adripo opened #18 "File name already exists on sd-card"
Hi, if I click yes on the prompt to change the name because it is too long and there is another file with the same name as the one that I inserted I receive an error

[code]

<details>
<summary>Logs</summary>

[code]
</details>

Can you help me?

[2020-05-29 19:01] Jeredian commented on #18
Hi, @adripo , I'll try to reproduce this issue, and then back to you.

[2020-05-29 19:01] adripo commented on #11
I have a similar error

I have a similar error, but this didn't help.

My image is translated and have strange colors.
Have a look
![photo_2020-05-29_21-01-33](https://user-images.githubusercontent.com/26493496/83295643-96f33b80-a1ef-11ea-9a07-6f00e0a313ec.jpg)

[2020-05-29 19:05] Jeredian commented on #18
Btw, you can try to get latest from master branch, because if I remember right there was some fixes from makerbase team.

[2020-05-29 19:07] Jeredian commented on #11
Hi, @adripo , you can try to use different values "50, 50",  "75, 75",  "100, 100".
At next releases, I hope, I will add select box for that size

[2020-05-29 19:17] adripo commented on #11
I tried 25, 50, 75, 100, 200 but nothing changed. Every time I diconeected, closed cura, changed value, reopened cura, connected, slice and send.
Do you have any other idea?
Thanks

[2020-05-29 19:18] adripo commented on #18
I ahve the last version from your repo, master branch

[2020-05-29 19:19] adripo commented on #18
Let me check if there is any update.

[2020-05-29 19:25] adripo commented on #18
I have the latest release. For the latest code from their master branch https://github.com/Ultimaker/Cura I need to build it manually and I cannot do it right now

[2020-05-29 19:28] Jeredian commented on #11
There is 2 places with image sizing:
1. SaveOutputDevice.py  - line 120
2. MKSOutputDevice.py - line 619

As first step it's to set both of them for simage - as 100
the second one try to comment both lines and check will image disappear or not

That's a very simple bug, but it's hard to implement selector for different sizes inside QML file, without project .pro file.. because qt designer can't im

[2020-05-29 19:40] Jeredian commented on #18
ok, I'll check that

[2020-05-30 00:13] adripo opened #19 "Cura interface layout overlap"
Sorry for opening another bug, but I want to keep things separated.

I have a bug in the layout of the plugin on cura 4.4.1
Here's a screenshot:
<details>

![2020-05-30_02-09-54-738_Cura](https://user-images.githubusercontent.com/26493496/83314476-df741e80-a21a-11ea-81fd-008c1607c6a2.png)
</details>

Some of the buttons are overlapping in the Printer control and Active print sections.
Thanks

[2020-05-30 00:21] adripo commented on #11
Thank you for the fast reply!
I changed the value (to 50) also in MKSOutputDevice and now the picture is perfect.
Thanks for the help.
Can you explain me better how is this programmed? Maybe I can help you. I had a look at qt designer. How does this interface with cura? Can you share any documentation with me please?

[2020-05-30 00:30] adripo opened #20 "Plugin doesn't work via wifi with multiple istances of cura"
I tried to open different istances of cura with different objects to print, but only the first instance is connected via wifi with the printer. All the others doesn't.
If I go to MKS WIFI and try to connect manually via wifi nothing happens. The "connect" button remains clickable, but there is no message.
After that, if I close the working instance, none will work anymore. Even if I close them all

[2020-05-30 00:40] adripo opened #21 "No creation/modification date of gcode files"
The gcode files uploaded via wifi have no modification date or creation date.
<details>

![2020-05-30_02-38-47-418_firefox](https://user-images.githubusercontent.com/26493496/83315228-ba81aa80-a21e-11ea-9b70-06a3d1cf4b13.png)
</details>

Is this something that can be fixed through the plugin or something related to the firmware?

Thank you

[2020-05-31 13:43] Jeredian commented on #11
In short, it makes an image with selected size and puts it at the start of gcode file. When printer will open gcode file, the image will be treated and you can saw it at the screen.
About UI, it's all qml files inside the project. MKSConnectBtn.qml - seems to be UI where we can place select box with sizes (small, medium, large), these settings can be saved as we used in the printer IP list.
Also,

[2020-06-02 16:24] Axolotelking opened #22 "Cura Plugin for continuous fiber"
Hi right now i am coading an Plugin to include an cutter in cura and to ambad continuous fiber in every second layer.

But i have some problems with Python:
 1. How can i code an bigger Widow for the cutter code my window right now name Cutter.
![Unbenannt](https://user-images.githubusercontent.com/66320690/83543373-96fb8000-a4fc-11ea-8ebf-d6bf951bd120.PNG)
 2. How do i ad an aditional row in the

[2020-06-05 04:02] wqh227 opened #23 "If the name of the transferred file contains Chinese, it may result in the failure to start printing. It is recommended that you can prompt to rename before transferring"
If the name of the transferred file contains Chinese, it may result in the failure to start printing. It is recommended that you can prompt to rename before transferring
如果傳送文件名稱包含中文，則可能導致無法開始打印，建議傳送前可以提示重命名

[2020-06-26 09:18] ravetam commented on #19
MonitorItem4x.qml

Changing the y from 450 to 600 seems to fix the issue

[code]

[2020-06-27 02:24] zhpt commented on #23
You can update the latest firmware to fix it by https://github.com/makerbase-mks/MKS-Robin-Nano/tree/master/Nano%20firmware%20v2.x.x

[2020-07-01 15:03] PigeonFX opened #24 "GUI for the Monitor tab is jacked up"
Have overlapping buttons on the Monitor tab

![Screenshot (41)](https://user-images.githubusercontent.com/39096995/86259720-46874900-bbb4-11ea-94ce-ae5f0e1dd304.png)

[2020-07-01 15:07] PigeonFX opened #25 "Plugin when installed via the Marketplace doesn't work."
If I install via the Marketplace it can't find my printer via IP, but if I manually install the plug-in it works fine (apart from the monitor layout being jacked up).

Using PC and Cura 4.6.1 with a Makerbase MKS Robin WIFI ESP8266 WIFI module

[2020-07-01 17:07] PigeonFX commented on #19
This doesn't fix the 2 Extrude buttons being ontop of the Z-axis buttons.

[2020-07-01 17:49] PigeonFX commented on #19
Seems change the following lines in MonitorItem4x.qml fixes the extruder buttons:

504: x:310
505: y:243

[2020-07-08 22:09] Engi23 opened #27 "Plugin freezes after canceling download"
If I click "Print" and during the download process I click "cancel" the plugin stops sending files to the printer.
Often I press print and notice that I forgot to turn on some kind of setting. The connection with the printer is preserved and I see the current temperatures, but the files are no longer sent to print. The restart of the chicken solves the problem, restarting the printer gives nothing

[2020-07-27 09:20] Bradley-Liu opened #28 "can't access sd card from wif plugin"
i am using cura 4.3 and your wif plugin. recently i've updated the firmware of my tft35 to v1.07. after that , i just can't access my sd card file using the plugin anymore. if i want to print files that are already in the sd card, i have to transmite the file again. please help. Thank you.

[2020-07-27 21:15] Jeredian commented on #28
Hi, if some feature doesn't work after you upgrade firmware it's related to new firmware code and it methods support. I think it will be better if you ask the same question to MKS developers, because it is something on their side.
As you can see inside source code, plugin connecting to firmware and sending get/post requests, so it doesn't interact with sd card directly.

[2020-07-27 21:20] Jeredian commented on #25
Hi, are you tried the last version from the master branch?
I not updated plugin for Cura 4.6.* because they have too many bugs in the new version, and also changes at API version, so maybe it related to that thing. I planned to update the plugin at Marketplace at the start of August.

[2020-07-27 21:24] Jeredian commented on #24
Hi, @PigeonFX, I think we can close this issue because you fixed it.
But I have a little question about the way that you change UI. It was directly inside code, or you used Qt Designer for that?

[2020-07-27 23:46] PigeonFX commented on #24
Just changed in the codes as a quick fix so I could use it.

[2020-07-27 23:47] #24 closed

[2020-07-28 21:52] dgorbunov commented on #25
This happens to me as well, plugin from Marketplace doesn't work.

[2020-07-30 10:50] Emphantom4d commented on #25
Hey . I also installed it from the market, it does not work. install from github, does not work either.
what could be?
cura 4.6.2

[2020-08-11 13:44] protywu opened #29 "[Cura 4.7.0-beta] No extruder temperature in 'Monitor' session"
Application version
4.7.0-beta

Platform
Win 10, 64 bit.

Reproduction steps
Simply open Cura 4.7-beta and click on the 'Monitor' tab.
Also tried running Cura after powering on the printer so that the printer was automatically connected to Cura when Cura is up.

Actual results
The 'extruder temperature' session is missing.

Expected results
The 'extruder temperature' session should show up as in t

[2020-08-29 18:30] berberic2 opened #32 "Printer ramms nozzle into print after print"
Hi,

My FLSUN-QQ-S has rammed its nozzle into the print after the print is finished several times.
The prints were started via mks-wifi-plugin from cura (4.7.0) and finished fine. At the end the printer did a home and then rammed the nuzzle straight down in the finished print.

Out of thin air, possible reasons:
‣ Cura killed while printjob is running (and cura is monitoring)
‣ reprinting the same

[2020-08-31 07:43] Jeredian commented on #32
Hi, you should look at ending GCode, in Cura Printer Settings.
It's not related to the plugin, because it just sends sliced model with start/end code settings to sd card

[2020-09-02 19:50] berberic2 commented on #32
The gcode probably is fine. If it weren’t this would happen every time.

[2020-09-02 22:53] lps83 opened #33 "Sync with a smb folder"
I'm using Simplify3D as a slicer and I would like to send the gcode directly to the SD card cuz I'm tired to go, remove the SD, ...
A solution is possible to sync a folder ? Or just a small app to upload the Gcode ?
I wanted to use the code from the plugin but python is not for me :/

Thanks

[2020-09-03 06:58] Jeredian commented on #32
Can you try the same printing at another version of Cura, 4.6.* ? If it will be ok, it's related to slicing code at Cura.
And, anyway please check gcode of a file that was with bad printing, there is should be lines like that

M84 ;steppers off
G90 ;absolute positioning

If Cura does not add this, or for some way changed the position of the head it can go in another way.
Or maybe M84 command can b

[2020-09-03 07:45] berberic2 commented on #32
This is the content of a print, where the nozzles is rammed into the object from the SD-Card
__________
--boundary_.oOo._jQoN6tZNpyQ8Cgb5SbMmDQ8JoubrXvN6
Content-Disposition: form-data; name="file"; filename="FQQS_overhang_test.gcode"

;simage:
**_[image-data]_
_[GCode]_**
_M107
M107 T0
M104 S0
M104 S0 T1
M140 S0
G92 E0
G91
G1 E-1 F300
G1 Z+0.5 E-5 X-20 Y-20 F9000
G28 X0 Y0
M84 ;steppers off
G90 ;

[2020-09-03 08:37] Jeredian commented on #32
The end code is a little bit different than in the Cura default profile for FLSUN-QQ-S.

But your end-gcode looks as it should too. So there are no issues at gcode.

[2020-09-03 08:39] Jeredian commented on #32
Can you try to use the latest version of the plugin from the master branch?
There were some compatibility issues with 4.7.0, at MarketPlace at now placed an older version of the plugin. I planned to update it on this week

[2020-09-03 08:47] Jeredian commented on #32
this boundary should not confuse the printer, because the last line that will be read by the printer will be an ';End of Gcode'
about Cura termination during print - this should not be related too, because after you send gcode, it will run only with commands inside file. and any other processed only can pause the print.

Can you try to use option save to file, and put it manually to sd card , beca

[2020-09-03 19:00] lps83 commented on #33
Thanks ! It's exactly what i wanted to know. I'm going to do something really quick in C++

[2020-09-03 19:02] #33 closed

[2020-09-07 22:45] scmanjarrez opened #34 "Cura crashes when loading configuration"
Hi,
Thanks for your plugin.
When I closed cura and tried to open again, Cura crashed, here are the logs:

![image](https://user-images.githubusercontent.com/9284124/92419230-7c284f80-f16c-11ea-89b2-56c79603009b.png)

<details> <summary> Error traceback </summary>

[code]

</details>

<details> <summary> Logs </summary>

[code]

</details>

I have installed the plugin from the marketplace.

[2020-09-07 23:22] Jeredian commented on #34
Hi, can you try to use plugin from the master branch?
If it's not be solved, I'll look and try test on Cura 4.0.

[2020-09-07 23:30] Jeredian commented on #25
Hi, can you try to use the latest version from the master branch?
I hope I'll update it on Market Place at this weekend, but if someones want to test before it, it will be helpful.

[2020-09-07 23:31] #22 closed

[2020-09-10 11:07] scmanjarrez commented on #34
Sorry to late response. I have tried multiple times the manual installation without success.

Those are the folder structured tested, none of them worked.

C:\Users\S\AppData\Roaming\cura\4.0\plugins\MKSPlugin\MKSPlugin
C:\Users\S\AppData\Roaming\cura\4.0\plugins\MKSPlugin\MKSWifiPlugin
C:\Users\S\AppData\Roaming\cura\4.0\plugins\MKSWifiPlugin
C:\Users\S\AppData\Roaming\cura\4.0\plugins\MKSPlugin

[2020-09-10 11:17] Jeredian commented on #34
At first, I recommend removing all these folders.
Because if they will be more than one it will produce Cura crash because the name of the plugin the same but the path is different.
After that restart Cura and if it loads without any crashes, install the Wifi plugin from Marketplace.
Restart Cura again, and check if it crashes or not.
If it crashed, download the latest version from the master and

[2020-09-10 11:34] scmanjarrez commented on #34
I'll do that, thanks.
Note: I just renamed multiple times the same folder, I didn't create multiple copies.

[2020-09-10 11:47] scmanjarrez commented on #34
I have done what you recommended, but it didn't work.
C:\Users\S\AppData\Roaming\cura\4.0\plugins\MKSWifiPlugin\MKSWifiPlugin

I have installed throught the market (crashes on restart, if I remove the configuration from cura.cfg, it starts without problems), then I replaced all files there with the files present in master branch, but it appears disabled in the installed packages, on restart if I "

[2020-09-10 11:55] Jeredian commented on #34
it seems that Cura ver 4.0 save settings of existed printers not properly with "," before IP of the printer.
can you try to use a plugin from MarketPlace, remove these lines at Cura settings file, and setup printer again?
If there will be no "," before ip of printer it should works ok

[2020-09-10 12:02] Jeredian commented on #34
If it doesn't help I'll try to find version 4.0 and test with it.
Btw, why you are using this version, not 4.4 or 4.6.2 or the latest 4.7.* ?

[2020-09-10 12:13] Jeredian commented on #34
Anyway, I'll check this. maybe Cura 4.0 (SDK 6.0.0) and Plugin not fully compatible.

For 4.4.* or 4.6.* - it will works, about the latest version - try the version from the master because **adripo** made some fixes for it.
I hope that I'll update the plugin on this week at MarketPlace because I'm waiting for updates from **MakerBase team**

[2020-09-10 12:51] scmanjarrez commented on #34
Ok, doing some debugging in the code, I see that first time plugin is instanciated, it creates the variable mkswifi/manual_instances with default value "", then you split it by comma, creating [''], then append the added IP and join by comma, so you have a list with a ["", "192.169.1.49"]. I'm not sure how cura cfg default variables work, maybe is possible to have a default value as empty list, or

[2020-09-10 13:16] scmanjarrez commented on #34
I have updated Cura to 4.7.1, and it works fine. Thank you very much.

[2020-09-11 20:49] scmanjarrez commented on #34
Ok, doing a bit of research, I've discovered that isn't a plugin problem but a cura 4.0.0 problem https://github.com/Ultimaker/Cura/issues/5477, so this problem was fixed in later versions.

[2020-09-11 20:49] #34 closed

[2020-09-17 18:11] peteristhegreat commented on #32
I am troubleshooting this same problem, and I am seeing 200+ lines of bitmap data? in the gcode file to the printer (FLSUN QQ-S Pro)

[code]

before the normal beginning code (normal meaning the sd file when saved as a mounted drive by cura).

[code]

And then at the end of the file if I save it directly to the SD card from CURA (mounted drive) it ends like this:

[code]

If I send the same gcode

[2020-09-19 08:07] Malderin opened #35 "SD card content display problem"
Hello!
Mks robin nano v.2 board Installed the latest firmware from here: https://github.com/makerbase-mks/Mks-Robin-Nano-Marlin2.0-Firmware
Problem with displaying the contents of the memory card. All model previews show the same picture of one of the models.
The plugin is installed from this thread.
![photo_2020-09-19_11-06-28](https://user-images.githubusercontent.com/52313714/93662367-43d81980-

[2020-09-19 08:46] Jeredian commented on #32
Hi @peteristhegreat , can you try the option from plugin "**Save as TFT file**", because in that way the plugin will save all gcode (with image previews) but without direct sending to the printer.

**boundary**  lines - it's a result after sending data to sd card by post request, and usually they are not used in the printing process.
As we can see at now this issue only happen on FLSUN QQ-S Pro, s

[2020-09-19 08:48] Jeredian commented on #35
Can you try to restart Cura, add another model, and send it to the printer?
As you can see in the source code of the plugin it can send only the current Cura project preview.

[2020-09-19 10:22] Malderin commented on #35
Я так понимаю можно писать по русски?
Дело в том что моя плата относительно новая и еще не поддерживает вайфай модуль на программном уровне, не доделали они еще прошивку по нормальному. Я использую плагин мкс вайфай
только чтобы сохранять файлы с превьюшками и закидывать их на карту памяти вручную.Разумеется все файлы на карте памяти я сохранял через последнюю версию плагина, это не какие то
стары

[2020-09-19 10:31] Jeredian commented on #35
Да можно :) Мне особо разницы от языка нет)
Судя по скриншоту - больше всего шанс что это в прошивке дело, т.к. она использует одно и тоже изображение вместо того чтобы рендерить те что в gcode файле. Хотя сам факт этого довольно странный.
Ты можешь попробовать сохранить файл на карту через save as TFT file, скопировать его в ручную на принтер и проверить - будет ли разница, если не будет то дело

[2020-09-19 10:36] Malderin commented on #35
На самом деле я тоже думаю что проблема в прошивке, потомучто на собранной последней прошивке marlin 2.x bagfix все работает нормально. На этой же прошивке от мкс такая вот проблема. Я
даже больше скажу, если поставить этот плагин из магазина куры, то при заходе через меню на карту памяти получаем зависание интерфейса, помогает только перезагрузка принтера.
Я им параллельно написал об этом тоже в

[2020-09-19 11:33] Jeredian commented on #35
Как показывает практика гораздо удобнее и надежнее собирать прошивку на чистом марлине самому, либо брать под свой принтер у ребят кто это уже делал. у MakerBase - тех поддержка очень плохая, а прошивка 2.0 с большим количеством багов.

[2020-09-19 15:03] Malderin commented on #35
Я и собрал сам, но дело в том что в чистом марлине с графической оболочкой, которая появилась сравнительно недавно, отсутствует куча дополнительных пунктов, вот и сел на их прошивку. Нужда
заставила.

Суббота, 19 сентября 2020, 14:33 +03:00 от "Pavel Polyakov" <notifications@github.com>:

--
Алексей Гречишкин

[2020-09-19 18:39] #35 closed

[2020-09-19 22:14] peteristhegreat commented on #32
Even with the latest code in master, it still did it again for me.

Here is a smaller print it did it for me just now:

https://gist.github.com/peteristhegreat/3e2ac8a75295f0472194d5ff744a3e0d

I'm thinking that the Marlin firmware doesn't respect the `; End of Gcode` line properly; though how it parses the extra lines is a mystery to me.

https://marlinfw.org/meta/gcode/

https://reprap.org/wiki/

[2020-09-20 12:23] Jeredian commented on #32
as we can see in commands we have the same gcode - so you should have the same issue in any type of printing file ( through cura, or through the plugin ). If not there should be some misunderstanding between firmware and plugin.
What happens if we print the "save as TFT" file? If it will work ok, we have an issue with `--boundary line`, and it's inside the firmware. Because as you can see in the s

[2020-09-29 20:00] Mistpal opened #36 "Cura freezes while MKS Plugin trying to reconnect to the printer"
Printer model Flyingbear Ghost 5
Cura version 4.7.1
MKS Plugin version 1.0.2
OS Windows 10 Pro x64 10.0.19041.508

Hi, I found the reason for the Cura freezing after disconnecting the printer (which was connected via wifi)

0. Cura and Printer were launched. Cura "sees" the printer via wifi
1. Turned off the printer - in the Cura, the printer is supposedly still connected
2. The log Cura %appdata%

[2020-09-29 20:03] Mistpal commented on #36
Video about this report https://www.youtube.com/watch?v=xbZzLOLJkb8

[2020-09-30 10:29] Jeredian commented on #36
Привет.
И да и нет. То что плагины работают внутри MainThread Куры - является источником фризов куры, при любом плагине который будет использовать операции занимающие время, либо операции поиска устройств (пингуя их с определенной частотой).
По логике работы плагина принтер должен автоподключаться когда он в сети, поэтому и используется цикл с периодической проверкой доступности принтера.
Есть опр

[2020-09-30 10:44] Jeredian commented on #27
Привет.
Как временное решение можно попробовать через меню отключить и и подключить принтер.  Находиться это в настройках плагина что в настройках текущего принтера.
Чтобы исправить это нужно смотреть https://github.com/Jeredian/mks-wifi-plugin/blob/master/MKSWifiPlugin/MKSOutputDevice.py
В методах которые используют сокет и отправку файла.

https://github.com/Jeredian/mks-wifi-plugin/blob/6edac06

[2020-09-30 17:34] Troutzorz commented on #32
Hi this was also happening to my FLSUN QQ-S Pro. I edited SaveOutputDevice.py and MKSOutputDevice.py, commenting out
[code]
It has not happened since commenting it out.

[2020-09-30 17:46] Jeredian commented on #32
@peteristhegreat , @berberic2 , guys can you try to do the same thing?

[2020-10-04 13:26] #32 closed

[2020-10-05 21:01] berberic2 commented on #32
No problems with the commented out-version until now (about half a dozen prints).

[2020-10-06 09:43] Jeredian commented on #32
@berberic2 , that's great.  you can try the latest from the master, there are changes for it. Thanks, @peteristhegreat for the pull request with fixes.

[2020-10-15 15:53] Troutzorz opened #38 "Cura periodically freezes if printer is turned off"
Cura Version 4.7.1
Printer: Flsun QQ-S Pro
Wifi Plugin Version: commit 9efec8f / pull request #37

The problem occurs when cura is open and the printer is off. Cura's UI freezes for about 2 seconds every 2 seconds. This effects the main window, 3d build preview, all menus, and even pop-out menus. This is very disruptive to the user experience. When the printer is turned on and boots up, cura retur

[2020-10-18 19:41] berberic2 commented on #38
I know it’s easy to talk big – sorry for that…

Possible no UI „fixes“ would be:
· giving up after 10 failed attempt, or
· after some failes increase interval to one attempt every X minutes.
I would prefer a „connect“ button so.

[2020-10-26 16:16] peteristhegreat commented on #32
FYI: The fix for this is based on the name of the printer in Cura. If you rename the printer, it might still include the screenshot code, and then still ram into the part/bed.  This may cause an issue if you have more than one `FLSUN QQ-S` or you renamed it to `FLSUN QQ-S Pro`, etc.

https://github.com/peteristhegreat/mks-wifi-plugin/blob/306db6c24a6f37dfb967f4a2f3c40ad3a9d2b383/MKSWifiPlugin/util

[2020-11-13 08:11] Malderin opened #39 "Вопрос по имени файла (file name question)"
briefly: you can make it so that when transferring files via Wi-Fi, the file name is  name.gcode instead of cfffp_name.gcode?
Можно сделать так, чтобы при передаче файлов через вайфай, плагин убирал из имени файла "CFFFP_".
Т.е. имя файла в куре сейчас имеет такой вид: CFFFP_test_name.gcode, хотелось бы чтобы при передаче плагин первым делом менял имя на test_name.gcode ну и далее делал все станда

[2020-11-13 08:52] Jeredian commented on #39
cfffp_name.gcode - это настройка самой Cura. Если зайти в меню настроек ,то
можно найти там чекбокс который включает или выключает эту аббревиатуру в
имени файла.

пт, 13 нояб. 2020 г., 11:11 Malderin <notifications@github.com>:

[2020-11-13 10:32] Malderin commented on #39
Действительно, что то я в эту сторону вообще не смотрел. Спасибо!
--
Отправлено из Mail.ru для Android пятница, 13 ноября 2020г., 11:52 +03:00 от Pavel Polyakov  notifications@github.com :

[2020-11-13 10:32] #39 closed

[2020-11-16 23:01] fantafrik opened #40 "Second print never starts"
After ending up printing any object, when trying to print one second time it never begins to preheat.
The only way to get rid of this is to close Cura and restart.
Tested on FLSUN QQ-S.

[2020-11-17 02:09] BeansIsFat opened #41 "Save as TFT file bypasses post-processing scripts"
When using the *Save as TFT* feature, any enabled post-processing scripts are bypassed. For example, using the built-in *Display Progress On LCD* script and clicking on *Percentage* should embed M73 commands at every layer showing the percentage completion. This works fine when using the normal *Save* commands in Cura. When using the *Save as TFT* feature of this plugin, that script is completely

[2020-11-25 00:33] GenesioRodrigues opened #42 "Save as TFT file with .3mf defaut extension - dangerous!"
In CURA 4.8.0, when choosing the "save as TFT file" function, the extension shown is .3mf, which creates the risk of overwriting your Cura project. You should have the .gcode as defaut extension.

[2020-11-27 23:06] adripo commented on #41
I can confirm that. The trick for me is to save the file using the normal save and then use the save as TFT. For some reason if you use the commands in this order, the second will work fine.

[2020-12-04 08:20] Malderin opened #43 "Проблема с Cura 4.8 (problem with cura 4.8)"
Board: MKS Robin nano v.2
Sending small files via cura 4.8 does not work

Плата мкс робин нано в.2
На компе установлены 2 куры, 4.8 и 4.7.1
На 4.7.1 все работает нормально.
Перешел на 4.8 и возникла проблема.
Если посылаешь мелкий файл (например кубик 20х20х20) принтер сразу выпадает в ошибку, пишет ошибка передачи, при чем ошибка появляется моментально. На экране куры при этом не ноль, вернее сра

[2020-12-04 08:52] Jeredian commented on #43
Спасибо за баг-репорт. Я постараюсь посмотреть в выходные.
На данный момент я не проверял совместимость с Курой выше 4.7.1. собственно в маркетплейсе будет сегодня релиз для api до этой версии.
Ты можешь попробовать в plugin.json добавить в supported_sdk_versions - "7.4.0". Возможно это исправит часть возникающих проблем. ( api 7.4.0. - это Cura 4.8.0+ )

[2020-12-04 08:55] Jeredian opened #44 "Remove files from repository, that should not exists in plugin."
- [x] remove the cache/precompiled files, *.qmlc (as opposed to *.qml)
- [x]  __ pycache__/*.pyc (as opposed to *.py) from repository.

[2020-12-04 08:57] Malderin commented on #43
Пятница,  4 декабря 2020, 11:52 +03:00 от "Pavel Polyakov" <notifications@github.com>:

Конечно попробую, но чуть позже. Если проблема решится - отпишусь.

[2020-12-04 11:17] Malderin commented on #43
@Jeredian

да, это решило проблему, спасибо!

[2020-12-04 11:17] #43 closed

[2020-12-10 16:18] LucaCh92 opened #45 "Wrong Preview"
Hi,
today i'm update the cura wifiplugin to the new 1.1.2 but now the image preview don't works(see img), anyone give me a  plugin previus version?
Thanks
![20201210_155815](https://user-images.githubusercontent.com/73521538/101798216-2799c500-3b0b-11eb-89b3-9511a7381d1b.jpg)

[2020-12-10 16:49] Jeredian commented on #45
Yeah, this bug appears after the last makerbase update. If I will have time, I'll solve it at this weekend.
Here is the old version of the plugin.
[MKSWifiPlugin.zip](https://github.com/Jeredian/mks-wifi-plugin/files/5674332/MKSWifiPlugin.zip)
You can found the plugin at  folder C:\Users\{YourUser}\AppData\Roaming\cura\4.6\plugins\MKSWifiPlugin\MKSWifiPlugin . Of course, instead of  "4.6" there wi

[2020-12-10 16:51] LucaCh92 commented on #45
Thank you so much!

Il gio 10 dic 2020, 17:49 Pavel Polyakov <notifications@github.com> ha
scritto:

[2020-12-12 07:53] misterixxxx commented on #45
С новой версией еще и сильные тормоза даже в меню, а когда стол с деталью вертишь, время  от времени залипает на несколько секунд. Помогает избавиться от этого полное удаление данного плагина MKS WiFi.

[2020-12-12 07:59] Jeredian commented on #45
@misterixxxx , да, это тоже известный баг. из-за то того что плагин (спасибо китайцам) изначально в том же потоке что и Кура работает. Как будет возможность обязательно исправлю, ну либо кто нибудь из комьюнити может это сделает, все таки это опен-сорс :-)

Translated version:
yeah, it's a known issue, it's happening because the plugin (thanks for makerbase) using the same thread as Cura, which is

[2020-12-12 08:03] misterixxxx commented on #45
Хорошо бы узнать, когда обновленная версия без этого бага появится :)

[2020-12-12 08:08] Jeredian commented on #45
@misterixxxx , КТТС (как только так сразу).
FlyingBear и Makerbase - это плагин не разрабатывают почти, ну и поддерживать разработчиков тоже не хотят. Так что в свободное время иногда улучшаем..
Думаю если завтра хватит времени бета версию сделаю, если не хватит то после нового года.

Translated version:
Well, someday for sure...
FlyingBear and MakerBase - developing this plugin very weak, and the

[2020-12-19 09:08] berberic2 opened #46 "Crash if name is to long"
If the name of the gcode-file is too long a reqeuster pups up to shorten the name manuely.
leaving this dialog crashes cura.

[code]

[2021-01-04 20:50] dlisin commented on #45
Looks like problem is here:
https://github.com/Jeredian/mks-wifi-plugin/blob/9efec8fb08e0686433b41c6da9aede40f7c9d1b1/MKSWifiPlugin/MKSOutputDevice.py#L922-L923

For Two Trees Sapphire - `simage 100 / gimage 200` working fine, but for FlyingBear Ghost - correct values are: `simage 50 / gimage 200`

[2021-01-09 17:21] Anthill666 opened #48 "Having problems to see printing times"
Hi
I'm having problems to see printing time and time remaining
with the mks-wifi-plugin in Cura (4.8)
something seems to be in the way :-D
everyyhing else seems to work

![Cura_mks_plugin](https://user-images.githubusercontent.com/77205342/104104302-7f148780-52a7-11eb-8bdd-6fa7d1840e43.jpg)

[2021-01-09 17:45] Jeredian commented on #48
Hi @Anthill666,
Can you try to use the latest from the master?
After #47 it can be already solved.

[2021-01-09 18:59] Anthill666 commented on #48
Yes, now it looks alot better
I previously used the version on marketplace (installed it 2 days ago), but with
the latest from the master I can finally see everything, thanks

[2021-01-09 19:00] #48 closed

[2021-01-11 05:55] #19 closed

[2021-01-12 18:39] o0-Wolf-0o commented on #45
Hmmmm, right now is 12 January 2021 year SOOOOOOOOOOOO when you will FIX IT !!!!

[2021-01-12 20:05] #44 closed

[2021-01-12 20:11] Jeredian commented on #45
@o0-Wolf-0o , very soon :-)
On the first plane, we have an issue with the main thread usage. After it, I will be working on the preview issue.
It's open-source, so ASAP :-)

[2021-01-14 15:56] tilde-tilde opened #51 "Bug with incorrectly displayed tooltips."
This plugin incorrectly displays tooltips in the "monitor" tab (I attach a screenshot):
https://yadi.sk/i/AOno0WzITDaPQQ
If I connect to a printer via USB cable, the tooltips are displayed correctly
(I attach a screenshot):
https://yadi.sk/i/CLZwFmwJ39ib5g

[2021-01-14 15:57] tilde-tilde opened #52 "Bug with incorrectly displayed tooltips."
This plugin incorrectly displays tooltips in the "monitor" tab (I attach a screenshot):
https://yadi.sk/i/AOno0WzITDaPQQ
If I connect to a printer via USB cable, the tooltips are displayed correctly
(I attach a screenshot):
https://yadi.sk/i/CLZwFmwJ39ib5g

[2021-01-14 16:00] #52 closed

[2021-01-16 14:10] #51 closed

[2021-01-16 14:18] mikroled opened #54 "Error: argument 1 has unexpected type 'NoneType'"
Due to non working transfers with mks robin wifi firmware 1.0.2 I hopefully flashed the latest firmware 1.0.4. to the device.

Now the transfer is startig in Cura 4.8 but the Error "argument 1 has unexpected type 'NoneType' comes up
during the transfer.
The transfer is nevertheless closed and the printer shows the preview of the model, but the Error message "Err2" is shown on the printer TFT and t

[2021-01-17 14:14] Elkin-Vasily opened #56 "Incorrect printer name on Monitor tab"
<img width="1392" alt="Screenshot 2021-01-17 at 17 12 13" src="https://user-images.githubusercontent.com/812359/104845620-72b3ae80-58e7-11eb-8f27-e0ac8db15589.png">

Here must be readable printer name.

[2021-01-17 15:03] mikroled commented on #54
I've got it working now by installing the MKS  Plugin from here:
https://github.com/makerbase-mks/Software/tree/master/MKS%20Plugin

Now the Plugin View in Cura shows the **MKS Plugin Connection** twice (verson 1.0.0 grayed out and 1.0.2 active) as shown in the screenshot.
The MKS Wifi Plug is not listet in the Plugin list, but working...
![Cura Plugins](https://user-images.githubusercontent.com/7

[2021-01-17 18:11] Jeredian commented on #54
This thing happens when you have installed the previous version of the plugin manually, or into another folder.
Cura has 2 folders for plugins, one for the plugin from the market place, and another inside the default installation path.

[2021-01-17 18:19] Jeredian commented on #54
You can remove both of them, and try the latest from this repository.
The old version that you used doesn't have support with Cura 4+.
The latest version from this repo supports Cura 4.6. But you can try it out with Cura 4.8 too.
Also, it's an open-source plugin, feel free to make pull requests to make it better.

[2021-01-17 20:15] #56 closed

[2021-01-17 20:17] Elkin-Vasily opened #58 "Troubles with reconnect"
OS: macOS  11.1
Cura: 4.8.0
Printer: FlyingBear Ghost 5

Starting Cura. It connects successfully to FBG5. All works just fine.
Switching current printer to another (without MKS WiFi support). On monitor tab is still FBG5, and controls don't work.

<img width="1392" alt="Screenshot 2021-01-17 at 23 10 03" src="https://user-images.githubusercontent.com/812359/104854814-ef5f8080-5919-11eb-8416-35601b

[2021-01-17 20:21] #25 closed

[2021-01-17 21:35] Elkin-Vasily commented on #42
Test this issue with the latest plugin version. I cannot repeat this.

[2021-01-17 21:38] Elkin-Vasily commented on #40
Try this with the latest plugin version from this repository

[2021-01-17 21:46] Elkin-Vasily commented on #20
Look at Cura log file, all plugins are logging their activities there

[2021-01-17 21:48] Elkin-Vasily commented on #18
Is this issue actual for the latest commit of this repo?

[2021-01-18 02:09] GenesioRodrigues commented on #42
Thanks Elkin, The problem can be replicated if you open a .3mf file, slice
it and choose "Save as TFT file". I checked your code in the
SaveOutputDevice.py file, line 58 (requestWrite function), and there you
coded: last_used_type = self._preferences.getValue ("local_file /
last_used_type"). I think you should set the type "gcode" because at this
point you have already chosen the type "TFT file".

[2021-01-18 09:34] Elkin-Vasily commented on #42
I still cannot replicate this issue. With Cura 4.8.0, and the latest plugin version from this repo it looks like:

<img width="1278" alt="Screenshot 2021-01-18 at 12 30 15" src="https://user-images.githubusercontent.com/812359/104897209-2751dc80-5989-11eb-957b-34021c73de7c.png">

What plugin version do you use?

[2021-01-18 09:35] Elkin-Vasily commented on #42
File extension sets in line 80 of SaveOutputDevice.py

[2021-01-18 14:24] mikroled commented on #54
Ok guys, I removed all plugins and install only the latest from here. Everting works fine now.

Thank you very much for your help and your work on this plugin.

[2021-01-18 14:24] #54 closed

[2021-01-18 15:37] GenesioRodrigues commented on #42
Sorry, I forgot to inform my OS - Windows 10 PRO x64 Version 2004 Build 19041.746. It looks like the default extension in the combobox is being set to the last extension used by the application. I think at this point the extension should be only .gcode.

[2021-01-18 18:33] Elkin-Vasily commented on #54
This version of plugin will be in Cura market in a few weeks

[2021-01-18 20:03] #36 closed

[2021-01-18 20:03] #38 closed

[2021-01-18 20:03] Elkin-Vasily commented on #42
What plugin version do you use?

Still have not luck to replicate this issue. This is on Windows 10 PRO x64:

![2021-01-18 23 01 52](https://user-images.githubusercontent.com/812359/104958502-33698880-59e1-11eb-9315-d639f55b91c5.jpg)

[2021-01-18 20:24] Elkin-Vasily commented on #28
Is this issue actual with lates commit from this repo?

[2021-01-18 21:57] Jeredian opened #60 "Support of Cura 4.8.0+"
Implement support for Cura ver. 4.8.0+ and SDK 7.4.0
### Changes
- [x] Update package json:
* remove old version lower that Cura 4.5 (SDK 7.1.0)
* add latest version Cura 4.8 (SDK 7.4.0)
* add minimux/maximum Cura versions
### Base manual tests
- [x] Plugin loading
- [x] Add new printer
- [x] Connect to the printer
- [x] Send file to the printer
- [x] Send file with "start print" option
- [x] Save

[2021-01-18 21:59] Jeredian opened #61 "Change project folder and files structure"

[2021-01-18 22:35] Elkin-Vasily commented on #29
Can you check this with the latest commit in this repo?

[2021-01-19 13:32] GenesioRodrigues commented on #42
I have tested wiht 1.1.2 (installed from marketplace) and 1.1.3 (downloaded/installed manually from git). Both, if you save your project (.3mf) before, next "Save as TFT file" will show .3mf selected as default extension,  and if you save without change to .gcode extension, the project will be lost, because de content of file will be in gcode format.

[2021-01-19 15:00] pash7ka commented on #45
I confirm, that @dlisin fix works good. I've changed `%APPDATA%\cura\4.8\plugins\MKSWifiPlugin\MKSWifiPlugin\MKSOutputDevice.py` line 922 to
[code]
and that fixed this issue.

[2021-01-19 15:07] Jeredian commented on #45
@pash7ka , it will fix the issue only for your type of printer,  for other companies and their printers there still be an issue, because each type of printer has unique firmware and for some reason, we should select or hardcode these params for different printer types.
I described temporary solvation with hardcoding value in #11. It's a very old issue, and I hope that we will fix it in this milest

[2021-01-19 21:29] Jeredian commented on #42
Hi, @GenesioRodrigues
We reproduced this issue
Here there are steps to reproduce it:
1. Open Cura with installed plugin
2. Open STL file
3. Slice model
4. Save project with .3mf file extension
5. Try to save the STL file by "save as TFT file".

![image](https://user-images.githubusercontent.com/9591166/105094657-a7756080-5ab5-11eb-803c-331a2d5193be.png)

We will check how it happens and will try t

[2021-01-19 21:41] rcpaintworks opened #63 "Modify G-Code in Cura is ignored. No heat tower possible!!!!"
Extensions->Post processing->Modify G-Code is not working, is ignored.
It is not possible to print a heat tower etc.

[2021-01-19 22:05] GenesioRodrigues commented on #42
Ok, thanks.

<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
Livre
de vírus. www.avast.com
<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>.
<#DAB4FAD8-2DD7-40BB-A1B8-4E2AA1F9FDF2>

Em ter., 19 de jan. de 2021 às 18:29, Pavel Polyakov <
notifications@github.com> escreveu:

--

[2021-01-20 12:49] #18 closed

[2021-01-20 12:51] #63 closed, assigned to Elkin-Vasily

[2021-01-20 12:54] #41 closed

[2021-01-20 12:54] #42 closed

[2021-01-20 12:56] #60 closed, assigned to Elkin-Vasily

[2021-01-20 13:30] Elkin-Vasily commented on #46
This fixed in #66

[2021-01-20 13:30] #46 closed

[2021-01-20 13:32] Elkin-Vasily commented on #10
This is fixed in #66

[2021-01-20 13:32] #10 closed

[2021-01-21 02:57] GenesioRodrigues commented on #42
Awesome, thanks!

<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
Livre
de vírus. www.avast.com
<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>.
<#DAB4FAD8-2DD7-40BB-A1B8-4E2AA1F9FDF2>

Em qua., 20 de jan. de 2021 às 09:54, Pavel Polyakov <
notifications@github.com> escreveu:

[2021-01-23 09:48] Jeredian opened #67 "Changing plugin's Readme, and updating Wiki"
Before we release a new version of the plugin we need to update our Wiki with issue rules.
We need this to be ready to work with new tasks and make the plugin better.

[2021-01-23 09:52] Jeredian opened #68 "Support for different languages"
We need to add the same multilanguage support as it used in Cura (i18nc)

[2021-01-23 09:55] #23 closed

[2021-01-23 12:12] #61 closed, assigned to Jeredian

[2021-01-23 13:11] Jeredian opened #70 "ReferenceError: os is not defined"
2021-01-23 15:34:56,767 - WARNING - [MainThread] UM.Qt.QtApplication.__onQmlWarning [406]: ***Application Support/cura/4.8/plugins/MKSWiFiPlugin/qml/MKSConnectBtn.qml:86: ReferenceError: os is not defined

[2021-01-23 13:50] #70 closed, assigned to Jeredian

[2021-01-23 14:37] Elkin-Vasily opened #72 "Error: Library import requires a version"
2021-01-23 17:36:37,811 - ERROR - [MainThread] UM.Qt.QtApplication.createQmlComponent [578]: file:///Users/vic/Library/Application Support/cura/4.8/plugins/MKSWiFiPlugin/qml/MKSConnectBtn.qml: Library import requires a version

[2021-01-23 14:57] #72 closed, assigned to Elkin-Vasily

[2021-01-24 10:57] 1101101011011110 opened #74 "Cura freeze when plugin is enabled"
The plugin works correctly but it makes cura freezing 1-2 seconds every 8-10 seconds. It gets worst if printer is not connected.

Cura 4.8.0.
MKS Wifi 1.1.2
Windows 10

[2021-01-24 13:22] Elkin-Vasily commented on #74
Duplicates #36.

It was fixed already.

Try to use latest commit from devel branch or just wait a few weeks for a new release in Cura Market.

[2021-01-24 13:22] #74 closed, assigned to Elkin-Vasily

[2021-01-24 16:29] #67 closed, assigned to Elkin-Vasily

[2021-01-24 16:32] Jeredian opened #76 "Add sponsorship to support community"

[2021-01-24 17:00] #68 closed, assigned to Elkin-Vasily

[2021-01-24 17:10] 1101101011011110 commented on #74
Sorry, I did checked open issues but not closed ones!

I'll wait for nest release. Thank you!

[2021-01-25 14:19] #27 closed

[2021-01-25 15:15] cprobst87 opened #79 "[BUG] Can't see the 2nd nozzle"
Hello,

I have a MKS GEN_L V1.0 Board with TFT32 and two nozzels. Printing is good with both nozzles, no problems here.

But: I can't see the 2nd nozzle in the cura plugin:
![image](https://user-images.githubusercontent.com/11303620/105723694-5dfa9a80-5f27-11eb-9b86-71943e38bdee.png)

TFT32, TFTWifi, Config:
![image](https://user-images.githubusercontent.com/11303620/105723641-4cb18e00-5f27-11eb-8

[2021-01-25 15:33] Elkin-Vasily commented on #79
Try this with the latest commit in develop from this repo. I think it should fix this.

[2021-01-25 16:05] cprobst87 commented on #79
Thank you :-) , but.... it's the same:
![image](https://user-images.githubusercontent.com/11303620/105731140-60f98900-5f2f-11eb-8737-a3c48b2a6ead.png)

[2021-01-25 16:42] cprobst87 opened #80 "[FEATURE] Can you add support without preview for TFT32"
Hi,
can you add support for TFT32 without preview? TFT32 doesn't know M10086 commands. Upload fails with Cecksum error and loading bar is at 14% at the beginning of the print.
Thank you!
Chris

[2021-01-25 18:24] Elkin-Vasily commented on #79
Ok I will try to figure out what happens.

[2021-01-25 18:41] cprobst87 opened #81 "[BUG] TFT 32 Upload --> Checksum missmatch --> start to early"
Hi,
this lines doesn't work with TFT32, I comment out the "self._printFile()". Than upload is OK and manually starting as well, I think it's too early to start the job.
Error from TFT: Checksum missmatch at line: -1

Line 1268
MKSOutputDevice.py

  def _onRequestFinished(self, reply):
        http_status_code = reply.attribute(QNetworkRequest.HttpStatusCodeAttribute)
        self._isSending = True

[2021-01-25 21:13] cprobst87 commented on #79
Ok, I have a solution:
MKSOutputDevice.py, I added this lines (but that's not good for single nozzle machines):
![image](https://user-images.githubusercontent.com/11303620/105766561-340e9b80-5f5a-11eb-9e07-2535cb3e1b00.png)

Also add at line 184 "2" instead of "1":
 self._number_of_extruders = 2
The same at line 107:
self._num_extruders = 2

[2021-01-25 21:21] Elkin-Vasily commented on #79
It will be better to use `CuraApplication.getInstance().getGlobalContainerStack().getProperty("machine_extruder_count", "value")` instead of 2

[2021-01-25 21:24] Elkin-Vasily commented on #79
<img width="465" alt="Screenshot 2021-01-26 at 00 23 07" src="https://user-images.githubusercontent.com/812359/105767879-ab4d2b00-5f6c-11eb-9885-aed76621abea.png">
And this for section on your screenshot.

I will spend some more time to fix this issue, do not worry)

[2021-01-25 21:25] cprobst87 commented on #79
Great, thank you!

[2021-01-26 07:41] Jeredian opened #84 "[FEATURE] Add sonarqube badges and code check support"
Add some badges into the readme:
* Scanned on SonarCloud
* Quality gate status
* Bugs
* Code smells

[2021-01-26 07:45] Jeredian commented on #84
https://sonarcloud.io/dashboard?id=Jeredian_mks-wifi-plugin

[2021-01-26 11:12] Elkin-Vasily commented on #29
Looks like this issue is obsolete

[2021-01-26 11:12] #29 closed

[2021-01-26 12:41] #76 closed, assigned to Jeredian

[2021-01-26 12:42] #84 closed, assigned to Jeredian

[2021-01-27 09:45] Jeredian opened #87 "Fix sonarqube code smells"
![image](https://user-images.githubusercontent.com/9591166/105973230-8b695480-609d-11eb-9b85-09557993f015.png)

[2021-01-30 09:16] Elkin-Vasily commented on #79
I think I have fixed this issue, but I have no double extruder printer, so I cannot test it properly. Can you test it for me?

Here is the branch with fixes: https://github.com/Jeredian/mks-wifi-plugin/tree/issue-79

I need you to test:
- e0 and e1 preheat/cancel preheat;
- e0 and e1 jog position.

[2021-01-30 09:46] Elkin-Vasily commented on #79
I had updated this branch ones more

[2021-01-30 18:08] szabota opened #89 "Cura hangs when not connected to printer"
There is a problem with plugin version 1.1.2:
Until a connection to the printer is established, Cura freezes for 2 seconds every 2 seconds.
This is noticeable if, for example, you rotate a model loaded into Cura.
The hang goes away as soon as a WiFi connection is established with the printer.
It turns out that in order to work normally in Cura, now you need to keep the printer always on.
The probl

[2021-01-31 08:28] Elkin-Vasily commented on #89
This problem duplicates #38 and was solved in current plugin version. I could get the latest from level or just wait a few weeks until this version will be available on Cura Market.
_
Эта проблема дублирует #38 и решена в текущей версии плагина. Можете взять последнюю версию из ветки devel или подождать пару недель, она появится в маркете Cura.

[2021-01-31 08:28] #89 closed, assigned to nobody

[2021-01-31 08:40] Elkin-Vasily opened #90 "MKS WiFi Plugin labels fix"
Modify some i18n

[2021-01-31 10:59] #90 closed, assigned to Elkin-Vasily

[2021-01-31 11:09] cprobst87 commented on #79
Prehead is OK, jog works.
Cancel preheat E0 works. E1 cancel but the temperature isn't 0:
![image](https://user-images.githubusercontent.com/11303620/106382049-1bb8d980-63bd-11eb-838a-4a5717a8461b.png)

One little thing:
![image](https://user-images.githubusercontent.com/11303620/106381898-2f177500-63bc-11eb-8e8b-8673f754b76c.png)
Because of this mouse-over-effect I have to click several times to

[2021-01-31 12:09] Elkin-Vasily commented on #79
Tnx, I know about tooltip bug, but cannot do anything about it right now (it is Cura tooltips, by the way please try this with your printer connected directly with USB cable, does tooltips look the same?).

Reset of the Extruder 2 target temperature works same for me, looks like this is a problem in MKS WiFi module... Need to create issue for them... Because we got temperature from here T:45 /0 B:

[2021-01-31 12:42] #79 closed, assigned to Elkin-Vasily

[2021-01-31 18:14] Jeredian opened #93 "[FEATURE] Base code refactoring"
- .Constans class usage
- methods separation
- logging

[2021-01-31 22:03] #87 closed, assigned to Jeredian

[2021-01-31 22:08] Jeredian opened #94 "[FEATURE] Cognitive Complexity issue"
Fix SonarQube  - Cognitive Complexity code smells

[2021-02-03 11:07] Jeredian commented on #58
We can try with this tip, from `Ultimaker`

`self.application.getHttpRequestManager().put()`

[2021-02-03 12:43] N1ghtroad-nsk opened #95 "[BUG] 1.2.0 does not start on arachne engine"
I use a Cura Arachne_engine_alpha, and, after update plugin to v1.2.0 wifi just dissapeared.
From printer settings, from save, from monitor.
On 1.1.2 everything works just fine.

[2021-02-05 06:21] Jeredian opened #96 "[FEATURE] Support Italian language"
Feature request from @LucaCh92
https://github.com/Jeredian/mks-wifi-plugin/pull/77#issuecomment-772614550

[it_IT.zip](https://github.com/Jeredian/mks-wifi-plugin/files/5930538/it_IT.zip)

[2021-02-06 09:11] Jeredian opened #98 "[FEATURE] Support Chinese language"
we need to check PR #97, merge it to the `develop` branch, and properly integrate with the plugin (change header or file, rename folder and etc.)

[2021-02-06 10:00] Elkin-Vasily opened #99 "Button alignment fix on Monitor tab for different languages"

[2021-02-06 10:23] #99 closed, assigned to Elkin-Vasily

[2021-02-06 12:34] #98 closed, assigned to Elkin-Vasily

[2021-02-06 12:52] Elkin-Vasily commented on #40
Looks like this issue is obsolete

[2021-02-06 12:52] #40 closed

[2021-02-06 12:52] #96 closed, assigned to Elkin-Vasily

[2021-02-06 13:37] #95 closed, assigned to Elkin-Vasily

[2021-02-06 13:50] Elkin-Vasily commented on #28
Looks like this issue is obsolete

[2021-02-06 13:50] #28 closed

[2021-02-07 12:17] Fylhtq12 opened #105 "Adding an index to a file name"
Меня всегда бесит в Cura, то, что когда вы нажимаете отправить файл на печать, а она говорит, что такой файл уже существует, и просит вас переименовать файл. Я должен подумать о том, как переименовать файл так, чтобы он не совпадал с еще несколькими такими же экземплярами на SD-карте. А также потом вспоминать какой из них был первым, вторым или пятым.. для того чтобы сравнить параметры их печати и

[2021-02-07 16:30] #11 closed

[2021-02-07 16:30] #45 closed

[2021-02-07 16:30] #80 closed, assigned to Jeredian

[2021-02-07 16:41] Jeredian opened #107 "[FEATURE] Implement model image size configuration"
After we fixed the wrong preview of the model, we need to add the possibility to configure different sizes of the model screenshot.
This config will display information about printer series and fill their sizes into settings.

There should be:

- None: (null, null)
- Base size : (simage:100, gimage:200)
- Two Trees Sapphire: (simage:100, gimage:200)
- Flying Bear : (simage:50, gimage:100)
- FLSUN

[2021-02-07 16:42] Jeredian commented on #107
this issue based on #11 , #45 , #80

[2021-02-07 17:33] tilde-tilde opened #108 "Incorrect size of "image setup" popup at windows 10"
When I open the "image setup" window for the first time on my windows 10 laptop, I have this window open incorrectly (see screenshot)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'MKS WIFI Connection'
2. Click on 'Image settings'
3. See error

**Expected behavior**
I would like this window to open correctly the first time, as in the 2nd screenshot.

**Screenshots**
https://1drv.ms/u

[2021-02-09 08:03] #108 closed, assigned to nobody

[2021-02-09 11:29] Elkin-Vasily opened #111 "Minor fix in ru_RU translation"
Change this:
msgstr "Выбрать и отправить файл G-Code на #D принтер."
To this%\:
msgstr "Выбрать и отправить файл G-Code на 3D принтер."

[2021-02-09 11:34] #111 closed, assigned to Elkin-Vasily

[2021-02-09 17:59] bellzw opened #113 "Can MKS WiFi show and drill down through the directory tree on the SD card?"
**Is your feature request related to a problem? Please describe.**
When a project has multiple gcode files, it is preferable to put the related files in a single folder in the top level directory.  MKS WiFi presently shows only the gcode files in the top level directory.

**Describe the solution you'd like**
Show files and identify folders.  Clicking a file enables currently shown functions.  Clic

[2021-02-09 21:02] bellzw opened #114 "[BUG]1.2.0 MKS WiFi fails to detect arbitrary extensions"
**Describe the bug**
Even thought it might be a valid gcode file, MKS WiFi fails to report the presence of files with types other than .gcode, .g, or *.goc

**To Reproduce**
Steps to reproduce the behavior:
1. Start Cura
2. Connect to printer
3. Click Monitor
4. Click Send Print Job
5. Only see *.gcode, *.g. and *.goc files

**Expected behavior**
I suspect the intent might have been to display *.g

[2021-02-09 21:10] bellzw opened #115 "[BUG]1.2.0 MKS WiFi Delete file fails"
**Describe the bug**
When I display files on the printer's SD card, select one, and click Delete, the file is not deleted.

**To Reproduce**
Steps to reproduce the behavior:
1. Start Cura
2. Connect to printer
3. Click Monitor
4. Click SD Files
5. Select a file (file is highlighted in blue)
6. Click Delete (Open file(s) window disappears)
7. Previously selected file is still present

**Expected be

[2021-02-09 23:25] bellzw opened #116 "[BUG]1.2.0 Changing name of duplicated file name fails"
**Describe the bug**
If a print job from disk has the same name as a file on the SD card, changing the name replaces the file but fails to change the name, overwriting the original

**To Reproduce**
Steps to reproduce the behavior:
1. Start Cura
2. Connect to printer
3. Click Monitor
4. Click Send Print Job
9. Select a file with the same name as one on the SD card
6. Change the name and click Yes

[2021-02-10 18:12] WEREWOLF1973 opened #117 "File list is empty[BUG]"
**Describe the bug**
On SD Files command files list is not displayed
![image](https://user-images.githubusercontent.com/38240586/107552276-50f6d000-6be4-11eb-9368-a75ea7afd03f.png)

**To Reproduce**
Cura 4.8
MKS WIFI Firmware CS 1.0.3
Display MKS TFT35 1.0.7

[2021-02-10 20:48] Elkin-Vasily commented on #117
What is the plugin version?

[2021-02-11 04:31] WEREWOLF1973 commented on #117
Develop 1.2.1
![image](https://user-images.githubusercontent.com/38240586/107602580-18361580-6c3b-11eb-95d8-9729f77f5629.png)

[2021-02-11 09:47] Elkin-Vasily commented on #117
Could you please attach curs log? You can find it here:
- Windows: %APPDATA%\cura\<Cura version>\cura.log , or C:\Users\\<your username>\AppData\Roaming\cura\<Cura version>\cura.log
- OSX: $USER/Library/Application Support/cura/<Cura version>/cura.log
- Ubuntu /Linux: $USER/.local/share/cura/<Cura version>/cura.log

[2021-02-11 14:53] WEREWOLF1973 commented on #117
[cura.log](https://github.com/Jeredian/mks-wifi-plugin/files/5966233/cura.log)

[2021-02-11 15:36] Elkin-Vasily commented on #117
Looks lite your WiFi module really says that SD contains no files:
[code]

Compare this to my log part:
[code]

Pay attention that no dirs will be displayed, only root files. Does printer itself find any files in SD root?

Do you have the latest WiFi module firmware?

[2021-02-11 16:56] WEREWOLF1973 commented on #117
Does printer itself find any files in SD root?
**Yes. Moreover, files are sended to printer from cura directly to print correctly. Afterwards files are holded on SD and visible through TFT menu browser (with TFT preview picture)**
Do you have the latest WiFi module firmware?
**CS 1.0.3 - Last known**

[2021-02-11 17:47] Elkin-Vasily commented on #117
What SD card size do you have?

[2021-02-11 17:50] WEREWOLF1973 commented on #117
Problem has been solved after TFT35 firmware upgrade to 1.0.8
![image](https://user-images.githubusercontent.com/38240586/107676764-8fef5900-6caa-11eb-83ec-97dbb762b49d.png)
![image](https://user-images.githubusercontent.com/38240586/107676853-a8f80a00-6caa-11eb-8cca-c82cae8b67b5.png)
Thank to attention!!

[2021-02-11 17:50] #117 closed, assigned to nobody

[2021-02-11 17:51] WEREWOLF1973 commented on #117
MKS TFT35 firmware should be upgraded to 1.0.8

[2021-02-13 18:59] Elkin-Vasily opened #120 "Obsolete translation fix"
Strings from 1093 to 1097 should be deleted.

[2021-02-13 21:08] #114 closed, assigned to nobody

[2021-02-13 21:10] #120 closed, assigned to Elkin-Vasily

[2021-02-13 22:19] jneilliii opened #122 "[FEATURE] OctoPrint Support"
**Is your feature request related to a problem? Please describe.**
Not really a problem, but I've written a couple thumbnail plugins for Cura/PrusaSlicer/SuperSlicer and came across this new embedded thumbnail format and would like to extend my Cura Thumbnails plugin to support it.

**Describe the solution you'd like**
A little assistance on the image embed format. I understand that you are creati

[2021-02-14 09:54] #116 closed, assigned to nobody

[2021-02-14 10:09] Elkin-Vasily commented on #122
Not really understood what do you want to do.

Do you want to take a part of code that makes images for MKS TFTs to your plugin? And you need to understand what functions do you need to do so?

[2021-02-14 11:17] Elkin-Vasily opened #123 "on_read cognitive complexity"

[2021-02-14 11:47] Elkin-Vasily opened #125 "Time left timer fix"
Time left shows not valid values

[2021-02-14 16:27] Jeredian commented on #94
The issue with #123 part of  changes to fix Cognitive Complexity code smells

[2021-02-14 16:28] Jeredian commented on #123
part of #94

[2021-02-14 16:55] #123 closed, assigned to Elkin-Vasily

[2021-02-14 17:45] jneilliii commented on #122
I'm trying to reverse the conversion process. The way I understand your plugin to work now is that it takes a snapshot (assuming in png format as that is what the ufp format file does) and then converts it into TFT format to embed inside the gcode. I want to take the lines added in the gcode and convert it back to png file to store in OctoPrint and provide those thumbnails in the web UI. It might

[2021-02-14 18:10] #125 closed, assigned to Elkin-Vasily

[2021-02-14 21:05] Jeredian commented on #122
Hi, @jneilliii
If I understand you right you need to make full reverse decoding from gcode hex-included line to RGB tuple and to a png file.
I think it's mostly related to the method that saves png to the hex. We still use not so good design with bitwise operators, and I'm not sure is it a true hex value or its byte representation.
But to clarify all operation we need to realize these 3 steps:
1.

[2021-02-14 21:12] Jeredian commented on #122
Also, we use conversion from RGB888 to RGB565.
[code]
So if you have hex with RGB585 you will need to make some bitwise operations too. Something like that:
[code]

[2021-02-14 21:49] jneilliii commented on #122
Awesome, your input and links are a huge help. Once I've had some time to digest I may post back in here if I run into any weird issues or need further guidance. The RGB format conversion was definitely something I wouldn't have figured out right away.

[2021-02-14 21:49] #122 closed, assigned to nobody

[2021-02-15 23:18] khaoskosmos commented on #45
Version 1.2.0 has a garbled preview image, prior to this update the preview worked. Two versions ago I had the split preview as shown in the original post. (Cura 4.8.0)

![IMG_20210215_181630](https://user-images.githubusercontent.com/57903341/108001337-29c04a00-6fba-11eb-93ea-5dcc709a26c3.jpg)

[2021-02-16 07:03] Jeredian commented on #45
you can try the latest from develop branch and select your side at the plugin settings window.
in 1.2.1 - will select box with base settings and custom settings for some printers.

[2021-02-16 07:33] moryak-89 commented on #107
Hello, I selected the following values for FlyingBear Ghost 5: simage 50; gimage 200. Didn't work with values 50 and 100

[2021-02-16 17:41] willpuckett opened #127 "[FEATURE] MKS Home Assistant integration"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

This might be a long one, but I thought it would be worth mentioning. There's a obviously a lot of domain knowledge in this repository about MKS.

Currently, I install Octoprint to manage and monitor my printers in Home Assistant. This let

[2021-02-17 16:49] Jeredian commented on #127
Hi, @willpuckett .
That's a great idea, let's keep it for the future. Maybe someone who already has Home Assistant will start development in that way.

[2021-02-25 17:36] Malderin opened #128 "[BUG] The file transfer window disappears immediately"
Не понимаю в чем дело, но в куре 4.8 при отправке на печать файла, окно передачи (то что с галкой "начать печать автоматически после передачи") появляется бувально на секунду и исчезает. Галку при таком раскладе снять нереально. При этом на экране принтера появляется стандартный интерфейс передачи файла, файл передается и печать стартует (галка видимо стоит).
Есть мысли что сделать? Плагин переуст

[2021-02-25 18:13] Malderin commented on #128
Забыл. Для чистоты эксперимента поставил куру с нуля, добавил профиль эндер-2, установил из маркета вайфай плагин. Никакие настройки не трогал - проблема осталась.
Возможно это важно, раньше на вин7 проблем не было, сейчас на вин 10 перешел и эта проблема появилась.

[2021-02-26 21:29] Jeredian commented on #128
@Malderin ,
Для того чтобы было возможно понять Вашу проблему необходимы дополнительные данные:
**Desktop (please complete the following information):**
 - OS: [e.g. Windows 10, macOS 11.1]
 - Cura version: [e.g. 4.8.0]
 - Plugin version: [e.g. 1.1.2]
 - 3D printer: [e.g. FlyingBear Ghost 5]
 - Motherboard and/or WiFi module firmware version: [e.g. V5.8/V5.8]

 А также необходим **файл логов**:
 -

[2021-02-27 06:38] Malderin commented on #128
**OS:**
Выпуск	Windows 10 Pro
Версия	20H2
Дата установки	‎08.‎02.‎2021
Сборка ОС	19042.685
Взаимодействие	Windows Feature Experience Pack 120.2212.551.0
**Cura version:** 4.8.0
**Plugin version:** 1.2.0
**3D printer**: KingRoon KP3 (Хотя это значения не имеет, т.к. плата там не родная)
**Motherboard and/or WiFi module firmware version:** : MKS Robin nano v.2, а вот прошивка вайфай модуля стояла с

[2021-02-27 13:36] Malderin commented on #128
Обновил модуль вайфай до последней версией прошивки с гитхаба (1.0.4) - никаких изменений

[2021-02-28 09:19] Jeredian commented on #128
@Malderin , Судя по видео, у Вас просто очень быстро передаются файлы. т.к. сразу после передачи началась печать.
Попробуйте для сравнения большую и сложную модель перекинуть, тогда у вас будет сообщение об отправке не сразу исчезать. Дайте знать о том какое поведение будет в данном случае.

На данный момент есть два варинта решения задачи:
1. Добавить задержку перед отправкой на печать, в виде 1-

[2021-02-28 09:33] Malderin commented on #128
Ах если б это было так. На самом деле в начале появляется просто бегающая полоса (типа подготовки к загрузке) - ее и видно на видео, потом должна появиться полоса загрузки, но она не появляется, сразу проскакивает на окно типа все передано.

Вот реально огромная модель:
https://yadi.sk/i/SQSi-EOKS51yDA
Экран принтера не снял, но там еще пару минут висело окно передачи, прежде чем появился диалог п

[2021-02-28 09:59] Jeredian commented on #128
Согласен, исходя из второго видео, у нас процесс отправки модели на принтер не соответствует реальной скорости отправки.

Так что да, будет комплексное решение:
1. Проверить процесс отправки, и выяснить почему он завершается до рельного получения файла на принтере, т.к потенциально могут буть проблемы начала печати, при закрытии Cura, либо отправки команды на печать, до того как файл был отправлен

[2021-02-28 10:21] Malderin opened #129 "BUG? Cura and printer connection, connection procedure"
Не соединяется Кура и принтер.
Порядок такой:
1. Запускаем Куру
2. Включаем принтер
3. Ждем
4. Соединения не происходит, на вкладке "Монитор" пусто, нет ни кнопок от плагина ни температур, ничего.

Для возможности и упрощения соединения в такой ситуации создал второй принтер (Эндер -2, выбрал из готовых). После выполнения вышеуказанных действий, переключаюсь на эндер 2 и сразу назад на свой принте

[2021-02-28 10:22] Malderin commented on #128
Если нужны какие то дополнительные данные или логи, я всегда готов все предоставить.

[2021-02-28 11:58] Elkin-Vasily commented on #129
Это известный баг, будет решен в рамках работы над #58

[2021-02-28 20:34] #107 closed, assigned to nobody

[2021-02-28 20:36] Jeredian commented on #129
duplicate #58

[2021-02-28 20:38] Jeredian commented on #129
Duplicate of #58

[2021-02-28 20:40] Jeredian opened #131 "[FEATURE] Release 1.2.1"

[2021-02-28 20:42] Jeredian opened #132 "[FEATURE] Release 1.2.2-dev"
Mark plugin version as 1.2.2-dev , after 1.2.1 will be released

[2021-02-28 20:48] #131 closed, assigned to Jeredian

[2021-03-02 12:17] Medvediy opened #134 "Android app for 3D print monitoring"
**Is your feature request related to a problem? Please describe.**
Sometimes we need to control 3D Printing parameters while Cura and PC are not powered on.

**Describe the solution you'd like**
So it will be great to got Android App which will connect to printer as MKS wifi plugin via IP and will show all the same parameters. It will help to control printing from the any place you are.
Appreciate

[2021-03-05 09:18] xaff opened #135 "WIFI data corruption on gcode ?"
Hello and thanks for your work :)

**Describe the bug**
When I send with Cura something to print via wifi, the upload seems ok but there is network errors in gcode.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Prepare'
2. Click on 'Slice then Print over Wanhao D12'
3. Upload ok but print fails
4. Get File on SD card
5. Compare with the one directly saved on windows by cura
6. See t

[2021-03-10 17:53] Jeredian opened #136 "[BUG] Image setting is hidden before IP address added"
At first open plugin settings, Image setting is hidden before IP address added.
This setting not related to IP address, so we should show it always.

[2021-03-11 12:03] Jeredian opened #137 "Enable/Disable Debug Information"
To speed up performance we need to add new settings, to control logs that sending to the cura.log file.
Because when printing is started we save too much data when it not needed in most time.

[2021-03-12 13:36] ColdBeer72 opened #138 "TFT info (image) is not available"
Since last update (1.2.1) on march 10th, there is no TFT info (no image to show on TFT35 display) on the generated gcode file.

[2021-03-12 15:24] Elkin-Vasily commented on #138
Go to "MKS WiFi Connection" settings and set your printer preview size. It turned off by default.

[2021-03-12 15:24] #138 closed, assigned to nobody

[2021-03-12 23:37] ColdBeer72 commented on #138
My printer is not connected through WiFi, just through "human movement" (with the SD card), so I have no option to set my preview size. My motherboard is a Robin Nano V1.2 with TFT35 screen.

[2021-03-13 09:19] xaff commented on #135
Hello,

I finally figured it out, it was the SD card, wich is quite strange because it's a new one and it work well on computer but not on the printer !?

Anyway, so it has nothing to do with the wifi.
Very sorry for the inconvenience

Please delete this Issue.

Best regards.

[2021-03-13 09:19] #135 closed, assigned to nobody

[2021-03-13 11:26] vahron opened #139 "Shorten file name automatically when it's too long"
Hey I often build my designs in Fusion360 and import them as STL to Cura.
Fusion360 builds filename as uuid for Cura, and it's a long filename. Each time I try to print it, Cura says "file name is too long, please rename file".

Is it possible for wifi plugin to actually shorten name automatically? It's quite annoying to have to type a new random name for every print.

[2021-03-13 19:11] Elkin-Vasily commented on #138
Just add random IP address, then you can set image size.

We have created issue to manage image size without adding IP (#136)

[2021-03-13 19:14] Elkin-Vasily commented on #135
What size of SD it was?

[2021-03-13 21:18] ColdBeer72 commented on #138
Fine! I used 127.0.0.1 (localhost) as IP address but, I suppose **simage** is "icon view" and **gimage** is "printing view". How do I know which is the correct one for Robin Nano V1.2?

[2021-03-14 07:50] xaff commented on #135
4Gb, its the one I got with the printer.

[2021-03-16 11:24] kazakh1979 opened #141 "Uploading error [BUG]"
Before the last update I had no issue with this plugin. But after the update of march 10th I get everytime "upload error" message.

[2021-03-17 13:51] Elkin-Vasily commented on #138
Default wil be ok for you

[2021-03-19 21:56] martinbogo opened #142 "[BUG] MKS Marlin 2.0 - Plugin 'develop' and 1.1.2 do not render preview in Cura 4.8.0"
**Describe the bug**

After installing the MKS WiFi plugin in Cura 4.8.0 on Windows 10... I see the "Save as TFT" option, however the file that is produced lacks the simage; image preview... only the gcode is output.

**To Reproduce**
1. Download Cura 4.8.0
2. Clone the mks-wifi-plugin repo from https://github.com/Jeredian/mks-wifi-plugin
3. Slice calibration cube or any other stl file with standa

[2021-03-21 07:31] Boneunit commented on #142
Hi,
I have exactly the same problem. It works sometime but in most case their is no preview picture.

[2021-03-22 10:47] Elkin-Vasily commented on #142
Hi, in the latest version of plugin preview image is set to "None" by default.
You need to add some (any) IP to printer, and set "simage" and "gimage" options to yours TFT screen (if you don't now what it is most likely "Default" will be ok for you).

[2021-03-22 10:48] Elkin-Vasily commented on #142
duplicates #138

[2021-03-22 18:18] Boneunit commented on #138
Hi,
Thank you for your help but it doesn't work for me.
I don't think that it's a problem of printer settings, it comes from the curas output file which doesn't contain any image preview

[2021-03-22 18:29] Boneunit commented on #142
Hi,
Thank you for your help but it doesn't work for me.
I don't think that it's a problem of printer settings, it comes from the curas output file which doesn't contain any image preview

[2021-03-22 21:18] adripo commented on #18
I confirm, the issue is solved. Thanks

[2021-03-23 07:13] ColdBeer72 commented on #142
It worked for me, just adding an IP (127.0.0.1, which is localhost) to one of your printers in Cura. You don't need to add IP to the rest of your real or virtual printers. After that, every "TFT/gcode" file has the image inside.

[2021-03-23 08:22] Elkin-Vasily commented on #142
Do you have some another plugins installed? For example Arc Welder can cause this issue.

[2021-03-23 09:24] Dtcreation opened #143 "[BUG] Printer reboot on plugin connexion"
**Describe the bug**
My printer reboot each time the plugin connect to the printer (Cura 4.8)

**To Reproduce**
Steps to reproduce the behavior:
1. Start a print
2. The printer reboot

**Desktop (please complete the following information):**
 - OS: WIndows 10
 - Cura version: 4.8.0
 - Plugin version: 1.2.1
 - 3D printer: Wanhao D12
 - Motherboard and/or WiFi module firmware version: MKS Nano Robin

[2021-03-23 10:17] Elkin-Vasily commented on #143
Can you specify mainboard and WiFi module firmware?

[2021-03-23 10:20] Dtcreation commented on #143
MKS Robin Nano V1.2
![DSCN1706](https://user-images.githubusercontent.com/60579620/112131256-ace04b80-8bc9-11eb-91c4-66799b2a0f00.JPG)

[2021-03-26 17:51] Boneunit commented on #142
Hi,
I have uninstalled all the plugins and it's still the same thing no image preview in the GCode.

[2021-03-26 21:35] Elkin-Vasily commented on #143
It is a hardware version. And what about firmware?

[2021-03-26 21:37] Elkin-Vasily commented on #142
Could you download here a log file? It can be found:

• Windows: %APPDATA%\cura<Cura version>\cura.log , or C:\Users\\AppData\Roaming\cura<Cura version>\cura.log
• OSX: $USER/Library/Application Support/cura//cura.log
• Linux: $USER/.local/share/cura//cura.log

[2021-03-27 04:30] Boneunit commented on #142
Here is the log file :
[cura.log](https://github.com/Jeredian/mks-wifi-plugin/files/6215127/cura.log)

[2021-03-28 17:28] X-Dron opened #144 "[BUG]"
**Describe the bug**
Don't work in Ultimaker Cura Arachne_engine_beta 99.9.1

**To Reproduce**
Install Cura Arachne_engine_beta 99.9.1
Check printer settinngs

**Desktop (please complete the following information):**
 - OS: [e.g. Windows 7,]
 - Cura version: [e.g. Cura Arachne_engine_beta 99.9.1]
 - Plugin version: [e.g. 1.2.1]
 - 3D printer: [e.g. FlyingBear Ghost 4S]
 - Motherboard and/or WiFi m

[2021-03-28 19:22] X-Dron commented on #144
fix in __init__.py
    if cura_version == "Arachne_engine_alpha" or cura_version == "Arachne_engine_beta":

[2021-03-29 15:47] Elkin-Vasily commented on #144
Hi, just get latest commit from develop it was fixed already.

[2021-03-29 15:47] #144 closed, assigned to nobody

[2021-04-01 16:56] Boneunit commented on #142
Hi,
Any idea ?

[2021-04-02 12:50] Malderin opened #145 "[BUG]Marlin or cura plugin?"
Cura arachne beta
plugin wer. 1.2.1

В последней версии марлин багфикс 2.0.х есть баг с отображением обновления температуры на главном экране (добавлено недавно) и много еще где в связи с изменениями в коде.
Помимо проблем с обновлением температур (см https://github.com/MarlinFirmware/Marlin/issues/21461#issuecomment-809272345) обнаружил еще одну проблему с куре:
см. https://github.com/MarlinFirmw

[2021-04-09 13:00] valeriofantozzi opened #146 "[Question] Hot can I get data from 3d Printer"
Hy, I would like to access the monitor data of my FlyingBear Ghost 5 while running.
The plugin works perfectly in Cura but I would like to write a simple python script that works outside of Cura and take the same monitor data.

Can you help me? :)

[2021-04-10 16:42] Elkin-Vasily commented on #146
Hmmm, do you want to write it from the scratch or take our plugin as a base? I think the best way is the first. If you agree, here is MKS-WIFI protocol: https://github.com/makerbase-mks/MKS-WIFI/blob/master/Transfer%20protocal%20%20between%20ESP%20and%20MCU.docx

Is it that you need?

[2021-04-12 06:42] valeriofantozzi commented on #146
I was wondering if there's someone with an example code from where to start.
And yes, the MKS-WIFI protocol is the right way to make it, thanks.

[2021-04-13 08:47] dreamerenigma commented on #11
Hello everyone, in Cura version 4.8 there is no line save_file.write (utils.add_screenshot (image, 50, 50, "; simage:")) in the SaveOutputDevice.py file. Perhaps the new version of Cura does not support the preview window.

[2021-04-13 08:50] Jeredian commented on #11
Hi @Volt-AmperAI , SaveOutputDevice.py - it's not Cura, it's our plugin code.
Since the latest release, we moved model preview to the plugin settings window. Please check it out

[2021-04-13 09:02] dreamerenigma commented on #11
MKSWIFI plugins version
<a href="https://fastpic.ru/view/114/2021/0413/dfbab88a21ed0bb561da6f7d7f216d30.png.html" target="_blank"><img src="https://i114.fastpic.ru/thumb/2021/0413/30/dfbab88a21ed0bb561da6f7d7f216d30.jpeg" border="0"></a>
The problem is that the image goes beyond the boundaries of the TFT35 v1.0 screen. And for some reason, artifacts on the screen. This is if you save to TFT in Cur

[2021-04-13 09:09] Jeredian commented on #11
@Volt-AmperAI , you should select the correct screenshot settings. There are several of them (base, none, and for some printer models). If none of them will be correct for you, you can create an issue for it, and if you know the correct size values, you also can make a PR.
![image](https://user-images.githubusercontent.com/9591166/114527493-b6048b80-9c50-11eb-91fe-8aa90bbb9f70.png)
![image2](https

[2021-04-13 09:37] dreamerenigma commented on #11
my printer does not go online at all, the MKSWIFI module is working, the phone sees it, but for some reason the plugin does not work in Cura, maybe the MKSWIFI plugin does not work in Cura 4.8? Maybe someone knows?
<a href="https://fastpic.ru/view/114/2021/0413/ce2d08d85bff32a3374c486957b8f5f1.png.html" target="_blank"><img src="https://i114.fastpic.ru/thumb/2021/0413/f1/ce2d08d85bff32a3374c486957

[2021-04-13 09:44] Jeredian commented on #11
@Volt-AmperAI ,
1. Remove IP of your current printer
2. Restart the Cura
3. Add new IP and press connect button.

FYI, for that type of questions, I suggest to you ask it at telegram channel https://t.me/mks_wifi_plugin_dev

[2021-04-13 10:00] dreamerenigma commented on #11
Does not connect to the network, does not find a specific IP address. Although the IP address is indicated on the phone, the same as I enter in Cura
<a href="https://fastpic.ru/view/114/2021/0413/e9e5eb5f929abe53c33972f1dca50f1f.jpeg.html" target="_blank"><img src="https://i114.fastpic.ru/thumb/2021/0413/1f/e9e5eb5f929abe53c33972f1dca50f1f.jpeg" border="0"></a>

[2021-04-13 14:25] hapklaar opened #147 "[Question] Compatible with BTT TFT35 ?"
Does this also work to upload gcode files frrom Cura to a BigtreeTech BTT TFT35 with an ESP01-S module?

[2021-04-14 08:39] #146 closed, assigned to nobody

[2021-04-17 21:09] darkblaze69 opened #148 "[FEATURE] Add support for 4.9.0 beta+"
Doesn't work in recently released Cura 4.9.0 beta. Please add support.

[2021-04-18 18:33] khaoskosmos commented on #148
Same problem... from the log:

2021-04-18 14:32:18,034 - WARNING - [MainThread] MKSWifiPlugin.register [28]: Plugin not loaded because of a version mismatch
2021-04-18 14:32:18,036 - WARNING - [MainThread] UM.PluginRegistry.loadPlugin [445]: Plugin MKSWifiPlugin did not return any objects to register

[2021-04-18 18:43] khaoskosmos commented on #148
Okay, the fix is pretty easy.

Go to the cura plugins directory (I'm on Mac, so it was ~/Library/Application\ Support/cura/4.9/plugins/MKSWifiPlugin/

Open "plugin.json" and replace the line that says "maximum_cura_version": "4.8" to 4.9

What it should look like:
[plugin.json.zip](https://github.com/Jeredian/mks-wifi-plugin/files/6331962/plugin.json.zip)

    "name": "MKS Plugin Connection",

[2021-04-19 06:40] Jeredian commented on #148
@darkblaze69 , @khaoskosmos , We will update the supporting new Cura version at the next release because there are a lot of API changes and we might need to test how the plugin works with them.
You can use a quick workaround that @khaoskosmos suggested, but use it at your risk, and if there will be issues with the plugin please report them with describing Cura version.

[2021-04-19 18:36] aykunsezer opened #149 "[Question] Can't make Cura connect to my printer with MKS WiFi Plugin installed"
I have an Ender 5 Plus with MKS SGenL v2.0 and MKS TFT35. I have wifi enabled and connected to local wifi. My I am using Cura 4.8 with the plugin installed. However Cura does not seem to find the printer and cannot transfer both the gcode nor tft.

[2021-04-20 15:27] Malderin commented on #145
Вопрос снимается, в последних версиях марлин багфикс все исправлено. Выходит что проблема была не в плагине.

[2021-04-20 15:27] #145 closed, assigned to nobody

[2021-04-20 22:50] BaltasarParreira opened #150 "[FEATURE] Support for new Cura 4.9"
Need changes on plugin.json file to support new Cura 4.9.

Just change line 6 to:
`    "maximum_cura_version": "4.9",`

After this plugin starts working and showing on Cura .

[2021-04-21 11:38] vnishukov commented on #150
After manually change maximum_cura_version, got this error when trying to close cura

![image](https://user-images.githubusercontent.com/2045615/115547722-4412ee80-a2af-11eb-98c2-8751c4d1c50b.png)

[2021-04-21 11:41] BaltasarParreira commented on #150
Yes I have also that error, but apart that the plugin works normally.
Going to investigate what else needs to change to avoid that.

[2021-04-21 15:45] Xoxe2 commented on #150
After changing the text line the plugging worked.
When closing the application either it closes unexpectedly or it gives me the following error.

Traceback (most recent call last):
 File "/Users/ultimaker/build/Cura/4.9/build/inst/lib/python3.8/site-packages/
cura/CuraApplication.py", line 1085, in event
 File "/Users/ultimaker/build/Cura/4.9/build/inst/lib/python3.8/site-packages/
UM/Qt/QtApplica

[2021-04-21 17:06] msmeeh opened #151 "the plugin dosen't work with 4.9"
the pulgin doesn't work with Cura 4.9, please update it or give solution

[2021-04-22 00:50] geruvenier commented on #150
After manually change maximum_cura_version, got this error when trying to copen cura, and close the program. The same error got on Cura 4.8.

Traceback (most recent call last):
  File "C:\Program Files\Ultimaker Cura 4.9.0\plugins\mks-wifi-plugin-develop\MachineConfig.py", line 121, in restartDiscovery
    self._network_plugin.startDiscovery()
  File "C:\Program Files\Ultimaker Cura 4.9.0\plugins\

[2021-04-22 06:43] JonathanMortes commented on #151
It doesn't work either with 4.7.1 either. I've got their software and HW (MKS robin e3p and TFT35) and it won't show me the preview on the machine and sometimes it will even fail. All I get is a G on the screen

[2021-04-23 06:43] jellespijker commented on #150
Keep in mind that the `global_container_stack` can return `None`. This typing didn't change in 4.9 (https://github.com/Ultimaker/Uranium/blob/master/UM/Application.py#L99) but there are now situations where we set the `global_container_stack` to `None` this was never a likely scenario before. but because of the necessary upgrade to Qt 5.15.2 we now do set it to None in some cases.  Skimming throug

[2021-04-23 07:57] Jeredian commented on #151
@JonathanMortes , at now plugin, support Cura from 4.5 to 4.8, so it can be installed from Cura Marketplace and connect to the printer.
About preview, since the latest update, was moved to the plugin settings, you can check "image settings" at the same place where you add IP settings for your printer.

[2021-04-23 08:01] Jeredian commented on #151
@msmeeh , FYI please check already existed issues instead of making a duplicate issue with so obvious thing
you can look to this #148

[2021-04-23 08:01] Jeredian commented on #151
Duplicate of #148

[2021-04-23 08:01] #151 closed, assigned to nobody

[2021-04-23 08:02] Jeredian commented on #150
Duplicate of #148

[2021-04-23 08:14] Jeredian commented on #149
@aykunsezer , please provide a log file, to check is ok or not with the process after you press the "connect" button.
It can be found here:
[code]
And describe all your steps, please, so we can reproduce and help you better.
Besides this, make sure that you set up the correct IP address at the plugin settings, and your printer is available by this IP at the local network (by using something like t

[2021-04-23 08:29] Jeredian commented on #142
Hi, @Boneunit . Is it still actual for you?

Can you try the following steps:
1. Open printer settings
2. Go to the plugin settings window
3. Press to the "image settings" button
4. Change if a selection of image preset to the "Base" or "Custom" with `simage: 100, gimage: 100`
5. Save these settings
6. Check plugins settings window there should be current simage, gimage values
7. Try to save the f

[2021-04-23 13:31] rdulak commented on #138
How did you add the ip address to an existing printer ?

[2021-04-23 13:53] ColdBeer72 commented on #138
In printer configuration, I don't have my computer at this moment, but you'll see something like "network config" in the selected printer.

[2021-04-23 16:33] denser opened #152 "Cura 4.9.0 wont see plugin"
**Describe the bug**
In new version of Cura 4.9.0 Plugin displayed as Installed but I cant find any sign of activated. No MKS button in printers window etc.

 - OS:  Windows 10,
 - Cura version: 4.9.0
 - Plugin version: 1.1.2
 - 3D printer: FlyingBear Ghost 5
 - Motherboard and/or WiFi module firmware version: V5.8/V5.8

[2021-04-23 16:34] #152 closed, assigned to nobody

[2021-04-23 18:20] ginolatilla123 opened #153 "[BUG] No working with new version 4.9.0"
**Describe the bug**
Hello, after the upgrade to newest Cura version, 4.9.0 the button into Printer Management form is disappeared and even under control panel the remote printer is no more available, not working even delete and re-copy files into plugin folder neither add plugin from Cura's website

**To Reproduce**
Simply upgrade to 4.9.0 and you won't find the plugin buttons/interface

**Deskto

[2021-04-23 19:32] Pro-serj opened #154 "[BUG] No button for WiFi connect to printer on Cura 4.9.0"
**Describe the bug**
No button for WiFi connect to printer on Cura 4.9.0

**To Reproduce**
Steps to reproduce the behavior:
1. Update Cura from 4.8 to 4.9
2. install MKS WiFi plugin
3. No button for WiFi connect to printer

**Expected behavior**
Connection to printer by Wifi

**Screenshots**
![Cura_4-9_MKS_WiFi_not_working_Screenshot_1](https://user-images.githubusercontent.com/83091625/115920874-

[2021-04-23 23:25] wkoetz commented on #154
Did you try this workaround?
https://github.com/Jeredian/mks-wifi-plugin/issues/148#issuecomment-822040166

[2021-04-24 06:14] Boneunit commented on #142
Hi,
Thanks for your answer. I have'nt the plugin "image settings button" in my printer settings. I only have "MKS wifi connection" button

[2021-04-24 10:13] Jeredian commented on #142
@Boneunit , you are right, you need to press on "MKS wifi connection", after that you will see plugin settings window and "image settings" button. Please, take a look at the step-by-step screenshoots:
1. Press to the "MKS wifi connection" button
![image](https://user-images.githubusercontent.com/9591166/115955245-1a033b80-a4fe-11eb-923e-0417823cc925.png)
2. Press to the image settings" button
![im

[2021-04-24 15:13] Pro-serj commented on #154
Yes I did, but even the folder name isn't same as described in Mac...

[2021-04-24 16:29] wkoetz commented on #154
I have done this patch. It works well.

[2021-04-24 17:43] Boneunit commented on #142
Thanks a lot for your help. I have done each step but it's still the same
![24 194206](https://user-images.githubusercontent.com/78499840/115967850-34a4d700-a535-11eb-944c-7b81822909ea.png)

[2021-04-24 17:48] Elkin-Vasily commented on #153
Duplicate of #148

[2021-04-24 17:48] #153 closed, assigned to nobody

[2021-04-24 23:25] Jeredian commented on #142
@Boneunit , can you attach gcode file and log with saving it? I'll check it...

[2021-04-24 23:28] Jeredian commented on #154
@Pro-serj , FYI please check already existed issues instead of making a duplicate issue.

About file folder, RTFM .
• Windows: %APPDATA%\cura\ , or C:\Users\AppData\Roaming\cura\
• OSX: $USER/Library/Application Support/cura/
• Linux: $USER/.local/share/cura/
inside that folder, you need to go inside "cura-version" -> "plugins folder" -> "mks wifi plugin folder".

[2021-04-24 23:29] Jeredian commented on #154
Duplicates #148 , #150

[2021-04-24 23:29] Jeredian commented on #154
Duplicate of #148

[2021-04-24 23:30] #154 closed, assigned to nobody

[2021-04-24 23:34] #132 closed, assigned to Jeredian

[2021-04-24 23:34] #148 closed, assigned to Jeredian

[2021-04-24 23:39] #150 closed, assigned to nobody

[2021-04-24 23:54] Jeredian commented on #141
@kazakh1979 , is it still actual for you?
If it is, please get to us more information, you can see it below.

**Describe the bug**: clear and concise description of what the bug is.

**Reproduce Steps** :to reproduce the behavior:
Go to '...'
Click on '....'
Scroll down to '....'
See error

**Expected behavior**: clear and concise description of what you expected to happen.
**Screenshots**: If app

[2021-04-25 05:43] Boneunit commented on #142
Here are the log file and the gcode file:
[cura.log](https://github.com/Jeredian/mks-wifi-plugin/files/6371316/cura.log)
[Untitled.gcode.txt](https://github.com/Jeredian/mks-wifi-plugin/files/6371317/Untitled.gcode.txt)

[2021-04-25 08:43] Elkin-Vasily commented on #142
In your log I see this:
DEBUG - [MainThread] MKSWifiPlugin.MKSOutputDevicePlugin.reCheckConnections [149]: GlobalContainerStack change None

It is some strange behaviour... Try to delete your printer from Cura and add it once more.

[2021-04-25 08:45] Elkin-Vasily commented on #142
In this log you have:
DEBUG - [MainThread] MKSWifiPlugin.__matchVersion [56]: This version of MKS WiFi Plugin is not compatible with current version of Cura. Please check for an update.

[2021-04-25 08:50] jellespijker commented on #150
@Jeredian I assume you have uploaded to new plugin to the marketplace. If so I'm willing to take a look today. Otherwise it will be a couple of days before we actually have chance to process this, since there is national holiday on Tuesday in the Netherlands.

[2021-04-25 09:28] Jeredian commented on #150
@jellespijker , sure, I planned to upload the update in half an hour, I'm waiting last tests result from the community at the 1.2.2 RC1 version. Our milestone is not so prioritized, then supporting new API.
Thank you for your support and for your time.

[2021-04-25 09:31] Jeredian opened #156 "[FEATURE] Release 1.2.2"
This release will contain updates to support new versions for Cura and  Cura Arachne Engine.

- MWP-148 [FEATURE] Support Cura 4.9 (#155)
- CPR-140 Support Cura Arachne Engine beta version (#140)

[2021-04-25 09:40] BaltasarParreira commented on #150
Hi, so far looks like is working ok.
I just git clone and put on top of the 1.2.1 installed and I can see after opening Cura that plugin is there and I can connect to the printer.
Also on closing Cura the error reported here disappeared.
Going to do tests sending files to print and so on now, let you know later how this tests worked.
Thanks.

[2021-04-25 09:55] Jeredian commented on #142
@Boneunit , if you are using Cura 4.9.0 at now, I'd suggest to manually update the plugin to 1.2.2 RC1 ( https://github.com/Jeredian/mks-wifi-plugin/releases/tag/1.2.2-dev )

[2021-04-25 10:09] Xoxe2 commented on #150
Hi, so far everything seems to be working fine.
I have reinstalled the plugin manually and the shutdown and unexpected shutdown errors appear to have been fixed in my OS X 10.13 High Sierra environment.
Now it only remains to test the stability by printing but it seems that it looks good.
Thanks.

[2021-04-25 10:13] Jeredian commented on #150
@BaltasarParreira , @Xoxe2 , thanks.
After #157 will be merged, I'll send the new release to the marketplace.

[2021-04-25 10:13] #156 closed, assigned to Jeredian

[2021-04-25 10:28] Jeredian commented on #150
@jellespijker, I submitted a new release to the marketplace.
https://github.com/Jeredian/mks-wifi-plugin/releases/tag/1.2.2

[2021-04-25 10:33] Jeredian opened #158 "[FEATURE] Release 1.2.3-dev"
Mark plugin version as 1.2.3-dev, after 1.2.2 will be released

[2021-04-25 10:39] #158 closed, assigned to Jeredian

[2021-04-25 11:19] jellespijker commented on #148
The package is approved and ready to be downloaded/upgraded from the marketplace

[2021-04-25 11:19] jellespijker commented on #150
The package is approved and ready to be downloaded/upgraded from the marketplace

[2021-04-25 12:54] ginolatilla123 opened #162 "[BUG] Issue when closing Cura"
**Describe the bug**
I have error form when I close Cura with latest MKS wifi plugin.
this is error analysis:
Traceback (most recent call last):
  File "C:\Program Files\Ultimaker Cura 4.9.0\plugins\mks-wifi-plugin-develop\MKSOutputDevice.py", line 827, in _update
    self.connect()
  File "C:\Program Files\Ultimaker Cura 4.9.0\plugins\mks-wifi-plugin-develop\MKSOutputDevice.py", line 255, in conn

[2021-04-25 12:57] #162 closed, assigned to nobody

[2021-04-25 14:45] Boneunit commented on #142
I have done the update with the new version 1.2.2 and it's still the same

[2021-04-25 15:32] Elkin-Vasily commented on #142
Please attach log file with latest plugin version installed

[2021-04-25 15:35] Elkin-Vasily commented on #115
Is this issue actual with the latest plugin version?

[2021-04-25 15:42] Elkin-Vasily commented on #128
Судя по логу у Вас происходит следующее:

2021-02-27 09:29:30,215 - DEBUG - [MainThread] MKSWifiPlugin.MKSOutputDevice._onUploadProgress [840]: Upload _onUploadProgress bytes_sent 16384
2021-02-27 09:29:30,215 - DEBUG - [MainThread] MKSWifiPlugin.MKSOutputDevice._onUploadProgress [842]: Upload _onUploadProgress bytes_total 399091
2021-02-27 09:29:30,221 - DEBUG - [MainThread] MKSWifiPlugin.MKSOutp

[2021-04-25 15:49] Elkin-Vasily commented on #134
Is it the app you are searching for?
https://github.com/makerbase-mks/Software/tree/master/MKS%20Control%20-Standalone%20android%20app

[2021-04-25 15:50] Elkin-Vasily commented on #143
Is this issue actual?

[2021-04-25 16:16] Malderin commented on #128
Сделал. Плагин версии 1.2.2 (обновился сегодня и маркета)
[cura.zip](https://github.com/Jeredian/mks-wifi-plugin/files/6372383/cura.zip)

[2021-04-25 16:35] Elkin-Vasily commented on #128
Тааак:
DEBUG - [MainThread] MKSWifiPlugin.MKSOutputDevice.on_read [1012]: mks recv: M994 /NTITL~1.GCO;896262

А SD-карта у Вас какая? Штатная? Попробуйте с хорошей SD (из тех что не шли с чем-то китайским в комплекте).

[2021-04-25 17:02] Malderin commented on #128
Это было первое что я попробовал. Перепробовал все китайские что были, из нормальных были карты трансцендент и самсунг. Не меняется ничего.

[2021-04-25 22:58] bellzw commented on #115
It was with 1.2.0 installed in Cura 4.8.0.  I have since updated Cura to 4.9.0 and MKS to 1.2.2 and see problems.  I was a little more systematic with my exploration and have attached a Cura log file.

Below is what Cura 4.9.0 shows me when I click SD Files after connecting to the printer.  I have selected file Copy.gcode.
![Before delete](https://user-images.githubusercontent.com/51066449/1160106

[2021-04-25 23:07] Ryszard-wpl commented on #142
I have the same problem. In Cura 4.9.0
In step 3 of your guide - I cannot select any options - all are grey and inactive. Plugin is connected to printer and there is MKS TFT35.
![Zrzut ekranu 2021-04-26 o 01 06 31](https://user-images.githubusercontent.com/81155959/116012595-b0814b00-a62b-11eb-94ac-92af2c5adbfa.jpg)

I restore version 4.8.0. of Cura and all works OK. Options are not grey and I can

[2021-04-26 05:05] Boneunit commented on #142
Here is the log file
[cura.log](https://github.com/Jeredian/mks-wifi-plugin/files/6374418/cura.log)

[2021-04-26 07:18] Jeredian opened #163 "[BUG] Preview image preset can't be changed"
**Describe the bug**
After the plugin updated, you can't change preview image settings, because the selection is disabled.

**To Reproduce**
Steps to reproduce the behavior:
1. Open plugin settings
2. Go to the image settings
3. Try to change the value of screenshot support
4. Changing value is disabled

**Expected behavior**
Users can change and save image settings.

**Screenshots**
![image](http

[2021-04-26 07:20] Jeredian commented on #142
@Ryszard-wpl , it's another issue, I created a ticket for it #163. And we will try to solve it ASAP.

[2021-04-26 07:28] Jeredian commented on #142
@Boneunit, thanks for sending the new log file, but it seems that you save the file by using the default Cura saving.
Can you send to us a screenshot of which button do you use to save the gcode file?

[2021-04-26 09:11] Jeredian opened #164 "[FEATURE] Restore correct license headers and clean up old files"
After #61 we replaced the license header that not allowed to, to provide correct license information and usage we need to restore the license where it needed and clean up files that we not use anymore.

[2021-04-26 11:59] Boneunit commented on #142
This is this button
![image](https://user-images.githubusercontent.com/78499840/116078967-8e251700-a697-11eb-837f-2a0ad378c738.png)

[2021-04-26 15:31] #163 closed, assigned to Jeredian

[2021-04-27 07:38] firstvadim opened #166 "SD card multiple files deletion"
It's quite annoying to delete files one by one with select file window closing every time.
So please, make multiple file selection possible in SD files window. The print button should be grayed out in case of more than one file selected. Or it could be two different windows - one for printing from card and another one for cleaning.

[2021-05-04 23:15] gumileeev commented on #127
Hello! I also really want to see integration into the homeassistant for flying bear ghost 5. If the homeassistant receives statuses from the printer, it will be easy to make flattering the printer more comfortable: receive a telegram notification about the end of work, notify about errors, turn off the hood, and more.

[2021-05-08 10:30] aperoap1 opened #167 "Add webcam function"
That would be great if you could integrate webcam With a link like "http://ip/webcam/?action=stream"
Thanks and regards
Juri

[2021-05-26 12:46] Elkin-Vasily commented on #136
To set up plugin version with newer UI you must to press "Manage Printers", than press "MKS WiFi Plugin", than set up needed settings like on screenshots below:

<img width="785" alt="Screenshot 2021-05-26 at 15 41 54" src="https://user-images.githubusercontent.com/812359/119661879-6c0aea00-be39-11eb-955a-7feb836a9c32.png">

<img width="784" alt="Screenshot 2021-05-26 at 15 42 01" src="https://use

[2021-05-27 07:41] #136 closed, assigned to Elkin-Vasily

[2021-05-27 17:03] Elkin-Vasily commented on #142
Do you have any other plugins installed?

[2021-05-28 05:41] Boneunit commented on #142
Hi,
Here is the plugin list :
![image](https://user-images.githubusercontent.com/78499840/119935633-1b55d700-bf88-11eb-8343-d13596deb8a7.png)

[2021-05-28 19:37] #143 closed, assigned to nobody

[2021-05-28 19:45] Elkin-Vasily commented on #147
We do not have one, so you can test it.

[2021-05-28 19:47] Elkin-Vasily commented on #141
Is this issue actual?

[2021-05-30 14:32] daniel-scatigno opened #169 "[FEATURE] Console View"
There is a Input Box for sending Gcode commands, but we can't see any results when it's related to info, Like checking debug information about TMC Drivers or checking endstops state (M119). It would be great to have a console for sending commands and receiving information

[2021-05-31 11:03] Elkin-Vasily commented on #169
We are using Cura's monitor tab to add our elements there, and there is no console view.

You can see the answers from WiFi module in cura.log file.

But remember, that this answers are not from mainboard, they are from WiFi module.

[2021-06-03 13:42] #169 closed, assigned to nobody

[2021-06-04 06:26] ghost opened #170 "[FEATURE] Connect to hidden wifi SSID"
There is currently no way to connect to hidden wifi.
It would be great to add an option to connect to hidden network that allows you to type the SSID manually.

[2021-06-04 09:48] Elkin-Vasily commented on #170
It is not a function of MKS WiFi Plugin for Cura. Try to make this issue in one of Makerbase repository.

[2021-06-04 09:49] #170 closed, assigned to nobody

[2021-06-09 18:21] Levingard commented on #141
I have exatly the same problem. I can connect to Printer via wifi, move axis, monitor prints, but when i try to send the printjob via wifi, the upload window disappears and the printer says uploading error.

Printer: Flying Bear Ghost 5 with actual firmware and Cura 4.9.1 with Plugin 1.2.2

[2021-06-13 18:11] daniel-scatigno commented on #166
File deletion for me is completly not working, I hit the delete button but nothing happens, I'm currently using 1.2.2 version, is that a bug or Am I missing something?

[2021-06-16 08:08] Jeredian opened #171 "[FEATURE] Cura SDK minor version increase (7.5.0 -> 7.6.0)"
The upcoming Cura version (4.10.x), will have to bump the SDK/API version to '7.6.0' (was '7.5.0').
Since this is a minor increase, there shouldn't be any breaking changes

[2021-06-17 17:59] Markosyan-AR commented on #141
The same issue with flying bear ghost 5 + cura 4.9.0 + 1.2.2 plugin. Failed to upload large files.
Printer Firmware- [https://github.com/MarlinFirmware/Marlin/tree/bugfix-2.0.x](https://github.com/MarlinFirmware/Marlin/tree/bugfix-2.0.x)
Is it possible to collect tracing info or logs or something like that?

[2021-06-30 13:06] Jeredian opened #172 "[FEATURE] Change max file name length from settings"
Some users asked about features, to control file name length.
There is a few printer's firmware can use only file lower than 10 symbols, but this is not the whole printers that we have.
We can place this param to the settings, and make it by default equal to 10, if someone needs a longer file name  they will be able to change these settings

[2021-06-30 13:11] Ignat-8 opened #173 "does not work in Cura 4.10.0"
Hello, this plugin does not work in Cura 4.10.0

[2021-06-30 14:52] metjuzlyapar commented on #173
i have encounted the same issue in Cura 4.10

[2021-07-01 10:29] Jeredian commented on #173
It should not because the max supported version is 4.9.0. Support of 4.10 will be at the start of the next week in dev branch. #171

[2021-07-01 10:30] Jeredian commented on #173
Duplicate of #171

[2021-07-02 14:15] TimeJammer opened #174 "Dont work with cura 4.10.0 [BUG]"
Dont work with cura 4.10.0

Manuel or cura market.

[2021-07-02 19:40] Gimran commented on #174
same

[2021-07-03 12:25] commo81 commented on #174
Same thing here. Installed from marketplace and manually, "cannot communicate with printer at IP address." I've only had it successfully work on Cura 4.2.1 so I'm using that for now.

[2021-07-04 13:12] Jeredian commented on #174
Duplicate of #171

[2021-07-04 13:14] Jeredian commented on #174
Please check the already exited issues, before creating a new one.

[2021-07-07 08:57] emare62 commented on #174
I have checked the issue #171but did not understand what to do to fix this.
After some tests I edited file plugin.json :
[code]
now seems to work

[2021-07-07 09:16] Jeredian commented on #174
You also need to change these lines:
[code]
after that, it will be shown, but if there are some breaking changes it would not work and you'll need to check the cura.log file

[2021-07-07 09:19] Jeredian commented on #174
I'll start working on #171 today, after work. So tomorrow there will be an update in the dev branch.

[2021-07-07 10:29] TimeJammer commented on #174
Thanks for your answers and hard work. Good luck with.

[2021-07-07 12:20] TimeJammer commented on #174
emare62, Thanx for fix.
It's seems working for me too...
At least it works for now. Thanks!

[2021-07-10 07:24] Jeredian opened #175 "[BUG] [1.2.3] Disabling WiFi support removes selected ip address"
**Describe the bug**
When we disable wifi support it removes selected ip address

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the '_MKS Wifi plugin_' settings window.
2. Click to '_Enable Wifi Support_'.
3. Add **2 IP  addresses**
4. Select one of them
5. Click to '_Disable Wifi Support_'

**Expected behavior**
Enable/Disable function should not affect IP list values.

**Screenshots

[2021-07-10 08:02] Jeredian commented on #175
Also there is an error in the .log file `"MachineConfig.qml:156: TypeError: Cannot call method 'getKey' of null"`
It happens when IP isn't selected, and "WiFi support" clicked to be disabled.

[2021-07-10 08:30] #171 closed, assigned to nobody

[2021-07-10 08:30] #173 closed, assigned to nobody

[2021-07-10 08:30] #174 closed, assigned to nobody

[2021-07-19 11:40] EgorIII opened #177 "Doesent work with cura 4.10"
There is no "mks wifi connection" button on Cura 4.10, but plugin is installed and enabled.
works correctly on older versions

 - OS: Windows 10
 - Cura version: 4.10
 - Plugin version: 1.2.2
 - 3D printer: FlyingBear Ghost 4S

[2021-07-21 21:28] aperoap1 commented on #177
You can download the current version: [https://github.com/Jeredian/mks-wifi-plugin](https://github.com/Jeredian/mks-wifi-plugin)
Then open cura -> help -> show configuration folder
(C:\Users\surface3\AppData\Roaming\cura\4.10\plugins\MKSWifiPlugin\MKSWifiPlugin)

Unzip the downloaded zip file and copy everything in there (replace data). Then restart cura.
It worked for me.

[2021-07-24 03:54] bellzw opened #178 "[BUG][1.2.2] Set point temperature of extruder 2 not set to 0 after cancel"
**Describe the bug**
With BIBO 2 Touch printer, when Cancel is clicked, set point of extruder 2 is not set to 0, even though heater 2 is actually off.

**To Reproduce**
Steps to reproduce the behavior:
1. Connect BIBO 2 printer
2. Set a preheat temperature and click Pre-heat under Extruder 2
3. Wait for set point (or not, if you're impatient)
3. Click Cancel under Extruder 2
4. Pre-heat button rea

[2021-07-24 04:26] bellzw opened #179 "[BUG]Help text either flickers or obscures Extruder 1 temperature information"
**Describe the bug**
When hovering over the Extruder 1 temperature information, the help text flickers over the temperature input box and Pre-heat button.  When  hovering over Extruder 2's temperature input box or Pre-heat button, and the mouse is moved horizontally left over Extruder 1's Pre-heat button or temperature input box, the help text hides Extruder 1's Pre-heat temperature button and tem

[2021-07-28 13:39] diviatrix commented on #177
Sadly it wont connect
https://i.imgur.com/CfD04R8.png

[2021-07-30 06:26] Jeredian commented on #177
@diviatrix , it seems that you need to add an IP address of your printer. You can't connect if there is nothing to.

[2021-07-30 07:04] diviatrix commented on #177
@Jeredian it is actually added, and this is what it looks like :)

[2021-07-30 07:10] Jeredian commented on #177
@diviatrix, please create a separate issue about it, we will investigate this. Because on my mac and pc it works as it should.
Have you tried to toggle the wifi support checkbox and add your IP address again?

[2021-07-30 09:05] marsaldev commented on #177
Same here, no button for configuration:

- OS: macOS Big Sur 11.4
- Cura version: 4.10
- Plugin version: 1.2.2 (latest)
- 3D printer: FlyingBear Ghost 5

<img width="622" alt="Schermata 2021-07-30 alle 11 00 52" src="https://user-images.githubusercontent.com/48283112/127629319-3755995f-3287-4b2f-b776-af05019cdbda.png">

<img width="780" alt="Schermata 2021-07-30 alle 11 01 52" src="https://user-im

[2021-07-30 09:08] Jeredian commented on #177
@marsaldev  , please read comments, and take a look at the pinned issues that are already done, before comment :-)

https://github.com/Jeredian/mks-wifi-plugin/issues/177#issuecomment-884512417

For now, you can use the version from dev. branch, next release will be at the start of August

[2021-07-30 09:51] marsaldev commented on #177
@Jeredian Thanks a lot, I've tried the stable release instead the dev, sorry my bad.

[2021-07-30 15:29] Pumpken commented on #177
Developer version adds the button but still cant connect. Same as @diviatrix. But its nice to know that the DEV is on it.

[2021-07-30 15:36] Jeredian commented on #177
@Pumpken, @diviatrix can you tell, please, your os version. maybe I will try to fix it this weekend. And it will be great if someones can show a gif or video (screencast) that describes your actions because we can fix only what we can reproduce.

[2021-07-30 15:39] Jeredian commented on #177
@Pumpken , @diviatrix , btw after update to the current develop version, you need to set your settings like it's the first time.
So it looks like a conflict of version with previous settings. You can try to clear the plugin folder and copy it from develop, maybe it can fix this. (because when Cura updates a plugin it does the same thing)

[2021-08-04 15:24] Elkin-Vasily commented on #172
Now added a text field for maximum file name length.

![Screenshot 2021-08-04 at 18 23 15](https://user-images.githubusercontent.com/812359/128208251-e5f8aa7c-f1df-4f70-b83e-f6cf0f60cc70.png)

[2021-08-04 15:25] #172 closed, assigned to Elkin-Vasily

[2021-08-05 16:24] #164 closed, assigned to Jeredian

[2021-08-06 17:05] #177 closed, assigned to nobody

[2021-08-06 17:05] Jeredian commented on #177
closed due inactivity

[2021-08-06 17:31] Jeredian opened #182 "[FEATURE] Release 1.2.3"
### Release notes
**[FEATURE] :**
* #164
*  #171
* #172

**[BUG]:**
* #136 (**NEW UI**)
* #163

[2021-08-06 17:39] Jeredian opened #184 "[FEATURE] Release 1.2.4-dev"
Mark plugin version as 1.2.4-dev, after 1.2.3 will be released

[2021-08-06 17:42] #182 closed, assigned to Jeredian

[2021-08-06 18:13] #184 closed, assigned to Jeredian

[2021-08-06 20:54] #94 closed, assigned to Elkin-Vasily

[2021-08-07 10:55] Elkin-Vasily opened #188 "[FEATURE] Fix Cognitive Complexity"
Fix Cognitive Complexity code smell in SaveOutputDevice.py

[2021-08-07 13:02] #188 closed, assigned to Elkin-Vasily

[2021-08-10 12:29] Jeredian opened #190 "[BUG] Cura.ScrollView not working at Cura versions lower than 4.7"
The new interface **doesn't load in Cura 4.5 and 4.6** because of the following error:
`UM.Qt.QtApplication.__onQmlWarning [398]:  MKSWifiPlugin/qml/MachineConfig.qml:255:21: Cura.ScrollView is not a type. `

It seems we're using a QML component that was introduced in **Cura 4.7**

So we need to choose one of these options:
- Reduce the compatibility of this plug-in
- Use alternatives of this QML

[2021-08-13 12:02] #190 closed, assigned to Elkin-Vasily

[2021-08-15 12:46] Jeredian opened #192 "[FEATURE] Release 1.2.4"
### Release notes
**[FEATURE] :**
 *  #94
 *  #188

**[BUG]:**
* #190

[2021-08-15 12:47] Jeredian opened #193 "[DEV] Release 1.2.5-dev"
Mark plugin version as 1.2.5-dev, after 1.2.4 will be released

[2021-08-15 12:58] #192 closed, assigned to Jeredian

[2021-08-15 13:04] #193 closed, assigned to Jeredian

[2021-08-16 09:58] ilfarpro opened #196 "[QUESTION] MKS WiFI 1.2.4 won't install on Cura 4.10 (Manjaro Linux)"
MKS WiFI Plugin won't install.

**To Reproduce**
Steps to reproduce the behavior:
1. Download or clone latest release;
2. Open Cura configuration folder. It can be found via Help -> Show Configuration Folder inside Cura;
3. Copy folder into [Cura configuration folder]/plugins/ ;
4. Restart Cura.

Nothing happens at all. If open Store, Installed Plugins tab it will show nothing. Cura just doesn't s

[2021-08-17 11:27] Jeredian commented on #196
@ilfarpro, It seems that you missed something when updated the plugin manually.
Let's do it as a more simplest way:
1. Install plugin from Cura marketplace
2. Go to the plugins folder and find `MKSWifiPlugin` folder
3. Go inside it and found `caches` folder (it will be named like that: '`__pycache__`'). Remove it
4. Replace all files with new ones
5. Restart Cura
6. If something goes wrong, attach

[2021-08-17 11:30] Jeredian commented on #149
**closed due to inactivity**

[2021-08-17 11:30] #149 closed, assigned to nobody

[2021-08-17 11:31] Jeredian commented on #147
**closed due to inactivity**

[2021-08-17 11:31] #147 closed, assigned to nobody

[2021-08-17 12:15] ilfarpro commented on #196
Thank for reply!

I followed your steps few times, and it did not helped. Plugin still not working at all.
But I found errors in cura.log file. Pay attention to line 417. It starts from there.

I think now it's not just question, it should be a bug...

[cura.log](https://github.com/Jeredian/mks-wifi-plugin/files/6999825/cura.log)

[2021-08-17 12:42] Jeredian commented on #196
As I saw inside the log file, this issue repeats also for  `UM3NetworkPrinting`, the main issue is that Cura cannot find one of the modules: `ModuleNotFoundError: No module named 'zeroconf'`.
And for some reason it trying to search in here :
`File "/usr/lib/python3.9/site-packages/UM/PluginRegistry.py", line 681, in _findPlugin`.

So as you can see this issue is not related to our plugin, it's mos

[2021-08-17 14:45] ilfarpro commented on #196
@Jeredian Thank you so much! It worked. Is there any solution to prevent other users from such a problem? Maybe I should open issue in Cura repository?

[2021-08-17 15:03] Jeredian commented on #196
Sure, you definitely can create an issue at Cura's repository. I think they will have more information about common solvation. Or maybe it's just a random issue with the continuous deployment process.

Btw, you can join our telegram group ( https://t.me/mks_wifi_plugin_dev ) , for some plugin updates news, or questions that can be solved by discussion faster than here.

[2021-08-17 15:03] #196 closed, assigned to Jeredian

[2021-08-20 09:26] Jeredian opened #197 "[FEATURE] Plugin compatibility with next Cura versions"
For better user flow we need to allow forward compatibility for the next Cura versions.

**What's to do:**
Disable `maximum_cura_version` check

[2021-08-20 09:35] Jeredian opened #198 "[FEATURE] Update Readme and issue templates"
To improve user flow we need to update our Readme and issue templates

**What's to do:**

- Update Readme ( Add a link to the telegram group https://t.me/mks_wifi_plugin_reception )
- Update existed Issues templates
- Add a new Question template

[2021-08-22 09:31] Jeredian opened #199 "[BUG] [1.2.4] No default selection of IP address at the Wifi settings"
**Describe the bug**
After a user creates a new Ip address of the printer, it doesn't be selected by default, but the UI has a connection button that is active.
Users can try to connect, but there is nothing happens because the IP settings are empty

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the Wifi settings popup
2. "Add" new IP address button
3. New Ip created, but not selected

[2021-08-28 16:53] Boneunit commented on #142
Hi,
I have installed the 1.2.4 and it's still the same.

[2021-08-28 17:02] Jeredian commented on #142
Hi, @Boneunit,
can you attach, please, the latest log file, with a full process ( loading cura, slice file, save it with our plugin)?
And as I saw, it seems we forgot to ask about your printer model...
What happens if you send a file via WIFI  to the printer?

[2021-08-29 03:12] Boneunit commented on #142
Hi,
Here is the log file :
[cura.log](https://github.com/Jeredian/mks-wifi-plugin/files/7071844/cura.log)
My printer is a Ender 3.
I don't have the wifi on my printer

[2021-09-07 17:18] FabioMC opened #200 "Release 1.2.4 not working with Cura 4.11[BUG]"
Just installed Cura 4.11 and MKS Wifi Plugin stop working. Still works on Cura 4.10.

[2021-09-08 07:51] SDenis8 commented on #200
Goto C:\Users\@YOURUSERNAME@\AppData\Roaming\cura\4.11\plugins\MKSWifiPlugin\MKSWifiPlugin
(or click in Cura "Help"->"Show configuration folder")

Edit plugin.json
**from** "maximum_cura_version": "**4.10.0**"
**to** "maximum_cura_version": "**4.11.0**"
Also you can set for feature something like that: 4.9999.0 :))

[2021-09-08 10:50] FabioMC commented on #200
Thanks. It's working again.

[2021-09-08 10:50] #200 closed, assigned to nobody

[2021-09-09 09:00] TimeJammer opened #201 "[BUG] [1.2.4] It doesn't work well with Cura 4.11.0"
It doesn't work well with Cura 4.11.0. First, cura never saw the plugin, then I made the "maximum_cura_version "4.11.0" in the Plugin.json file. In this case, it sees the plugin, but it cannot send to the printer properly. Also, Preview settings are reset from custom to default every time.

Mks Wifi Plugin Version: 1.2.5 dev

[2021-09-10 09:09] Jeredian commented on #201
@TimeJammer , can you attach a log file, please (cura.log), with the timeline since Cura started and when you changed preview settings?
It can work not well because right now it's a new version of Cura and nobody tested compatibility yet. I think there can be some minor issues, and we can try to solve them asap.

[2021-09-10 09:43] Jeredian commented on #142
@Boneunit ,
Hi, I just back from vacation and checked your file.
Maybe there can be some issue with the slicing process and somehow plugin doesn't encapsulate this. (stuff like on 1272 line),  but the chance of it is low.

Have you tried to re-check the "screenshot support" settings? it seems that we have an issue with correct saving these settings, and for some users, it switched back to disabled

[2021-09-10 10:04] Jeredian commented on #201
@TimeJammer ,  I checked at the last version of Cura (4.11) and the plugin settings on my PC were correctly saved after I set them up and restart Cura. What type of operating system do you use? Or this part of the issue was about settings reset after each Cura or plugin update?
![image](https://user-images.githubusercontent.com/9591166/132836960-5220652d-b772-42e8-bf45-e4aed6019e63.png)

[2021-09-10 10:40] #197 closed, assigned to Jeredian

[2021-09-10 10:45] Jeredian commented on #142
@Boneunit,
I added extra logs for file saving, can you try to use the latest version from the `develop` branch, please, and send a new `cura.log` file?
Btw, you can try Cura 4.11, a plugin from the `develop` branch compatible with it.

[2021-09-10 10:50] Jeredian commented on #201
Plugin compatibility was fixed in #197, and it's already in the `develop` branch. So `plugin.json`,  will be updating mostly for SDK changes (as it should, because it may break something)

[2021-09-10 11:16] TimeJammer commented on #201
After Cura is closed and opened, it turns from default to custom. In addition, when we send a file with the same name to the printer, the upload does not start even if we delete the old one with the same name. I reinstalled Cura. I also tried the relaese you just posted. I couldn't find the cura.log.

Every time I open and close Cura;
From this,
![Ekran görüntüsü 2021-09-10 135812](https://user-im

[2021-09-10 11:26] TimeJammer commented on #201
After Cura is closed and opened, it turns from default to custom. In addition, when we send a file with the same name to the printer, the upload does not start even if we delete the old one with the same name. I reinstalled Cura. I also tried the relaese you just posted. I couldn't find the cura.log.

Every time I open and close Cura;
From this,
![Ekran görüntüsü 2021-09-10 135903](https://user-im

[2021-09-10 11:40] Jeredian commented on #201
@TimeJammer , understood. I will investigate this. It looks like when the popup is open screenshot type is not updated in _combobox_ to the current one, but _simage_ and _gimage_ are correct.
You can find the `cura.log` file by one of this paths:
• Windows: %APPDATA%\cura\cura.log , or C:\Users\AppData\Roaming\cura\cura.log
• OSX: $USER/Library/Application Support/cura//cura.log
• Linux: $USER/.lo

[2021-09-10 12:16] TimeJammer commented on #201
I've realized now. It is reset not when I close Cura, but when I close the Preferences window. I am uploading the new config file since I deleted and installed Cura. Thanks for the guide.
Log:
[cura.log](https://github.com/Jeredian/mks-wifi-plugin/files/7143650/cura.log)

[2021-09-10 13:01] CyberTechX commented on #201
Try edit plugin.json file and change the line 6:
    "maximum_cura_version": "4.10.0",
to
    "maximum_cura_version": "4.11.0",

[2021-09-14 16:40] #198 closed, assigned to Elkin-Vasily

[2021-09-14 16:42] Jeredian commented on #200
@SDenis8 , @FabioMC,  thanks for the activity  :-)
FYI, Plugin compatibility was fixed in #197, and it's already in the develop branch. So plugin.json, will be updating mostly for SDK changes (as it should, because it may break something)

[2021-09-18 08:52] idlesign commented on #141
**Updated.**
I was able to reproduce it on Ghost 5 & Cura 4.11.0, plugin 1.2.4 without SD card: sending model with wi-fi leads to Uploading error on display. With SD card **works as expected** though.

[2021-09-18 19:32] aldiserg opened #204 "Add pip3 install libs to README"
### Is your feature request related to a problem?

Linux users can install it if doesnt work by default

### Describe the solution you'd like

pip3 install zeroconf ....

### Describe alternatives you've considered

now its not a easy to find how to solve problem with plugin integration

### Affected users and/or printers

Linux users

### Additional information & file uploads

_No response_

[2021-09-20 08:02] Jeredian commented on #204
This idea is not fully related to our plugin, because we plugin not installs by itself any king of packages, and if you correctly check the `cura.log` file you will find that other plugins will have errors about `zeroconf` too. So it's more for Cura documentation.
Maybe you need to check Cura documentation for it:

https://github.com/Ultimaker/Cura/wiki/Running-Cura-from-Source-on-Ubuntu
https://g

[2021-09-20 08:37] #204 closed, assigned to nobody

[2021-09-22 12:20] emare62 commented on #201
Hi, I have the same issue as TimeJammer (first comment on top).
Cura 4.11.0 does not see MKS WIfi Plugin 1.2.4
I'm running Win10 Enterprise.
I uninstalled completely Cura 4.10 as well as MKS, then installed 4.11 and MKS 1.2.4

Please let me know if you need more info.
Thanks

![image](https://user-images.githubusercontent.com/84068335/134342218-485b65a7-1e90-47d9-9e6e-dbbce727f100.png)
![image](ht

[2021-09-22 13:12] Jeredian commented on #201
@emare62 , please read a full topic before post a message next time.

As I said here (https://github.com/Jeredian/mks-wifi-plugin/issues/201#issuecomment-916812563) :
`Plugin compatibility was fixed in #197, and it's already in the develop`

You can manually install the latest version from `develop`. Or wait until it will be on the Cura Marketplace

[2021-10-02 23:47] siprem10 commented on #201
The plugin does not work for me and I downloaded it from github.
I have cura 4.11, the plugin and the MKS WIFI options appear, even after segmenting a .stl file it shows me "Save as TFT file", but when I pass it to the printer the thumbnail is not shown. I tried older versions of the plugin and it works for me without problems.

Google translate xd

[2021-10-07 17:47] #201 closed, assigned to nobody

[2021-10-07 18:18] Jeredian opened #206 "[DEV] Release 1.2.5"
### Release notes
**[FEATURE] :**
* #198
* #197

**[BUG]:**
* #201

[2021-10-07 18:19] Jeredian opened #207 "[DEV] Release 1.2.6-dev"
Mark plugin version as 1.2.6-dev, after 1.2.5 will be released

[2021-10-07 18:24] #206 closed, assigned to nobody

[2021-10-07 18:44] #207 closed, assigned to nobody

[2021-10-07 18:46] Jeredian opened #210 "[DEV] Release 1.2.6"
## Release notes
### Features:
* #218
* #226
* #230
* #222

### Bugfixes:
* #211
* #212
* #214
* #199
* #175
* #115
* #128
* #228

[2021-10-12 09:05] TimeJammer commented on #201
Problem solved with new dev version. It's working flawlessly now.

[2021-10-12 12:25] Jeredian opened #211 "Saving as TFT file for a .ufp file comes with an error"
### Plugin Version

1.2.5

### Cura Version

4.11.0

### Platform

Any

### Printer

Ultimaker S5

### Reproduction steps

1. Save the sliced project as a TFT file in an Ultimaker S5 (.ufp) file.

### Actual results

The following error occurs: "a bytes-like object is required, not a 'str'"

### Expected results

Saving as TFT should come without any errors

[2021-10-22 15:22] Elkin-Vasily opened #212 "Wrong printing time"
### Plugin Version

1.2.6-dev

### Cura Version

4.11.0

### Platform

Mac OS

### Printer

Anet A8

### Reproduction steps

Just start a print

### Actual results

Printing time = 0
Estimated time left < 0

### Expected results

Printing time > 0
Estimated time left >= 0

### Checklist of files to include

- [ ] Log file
- [ ] Project file

### Additional information & file uploads

None

[2021-10-22 15:59] #212 closed, assigned to nobody

[2021-10-23 10:28] Elkin-Vasily opened #214 "Wrong printer model on screenshot tab"
### Plugin Version

1.2.6-dev

### Cura Version

4.11.0

### Platform

Mac OS

### Printer

Flying Bear Ghost 5 & Anet A8

### Reproduction steps

Switch between two different printers with different "printer model" settings on screenshot tab in one session.

### Actual results

 For second printer values stays the same (must be another)

### Expected results

Values must be correct for chosen pri

[2021-10-23 11:57] Elkin-Vasily commented on #142
@Boneunit is this issue actual for you?

[2021-10-23 12:03] #214 closed, assigned to nobody

[2021-10-23 12:05] #199 closed, assigned to nobody

[2021-10-23 12:09] #175 closed, assigned to Elkin-Vasily

[2021-10-23 12:14] Elkin-Vasily opened #218 "Support the 7.8.0 version of SDK for Cura 4.12"
### Is your feature request related to a problem?

No

### Describe the solution you'd like

Add new SDK support

### Describe alternatives you've considered

No

### Affected users and/or printers

All

### Additional information & file uploads

The upcoming Cura version (4.12.0) will have the SDK/API version to 7.8.0 (formerly 7.7.0).
Since this is a minor version increment, there shouldn't be a

[2021-10-23 12:23] #218 closed, assigned to Elkin-Vasily

[2021-10-23 15:26] Elkin-Vasily commented on #128
Проблема еще актуальна?

[2021-10-23 15:33] Malderin commented on #128
К сожалению, да.

[2021-10-23 17:19] Elkin-Vasily commented on #128
Скинете лог-файл с текущей версией плагина?

[2021-10-23 18:00] Malderin commented on #128
[cura.log](https://github.com/Jeredian/mks-wifi-plugin/files/7403456/cura.log)

[2021-10-23 20:32] Elkin-Vasily commented on #128
Хм, все так же. А какой версии у Вас Марлин и откуда? Каким образом подключены по WiFi к принтеру (напрямую или через роутер)?

[2021-10-23 20:54] Malderin commented on #128
Марлин последний официальный из ветки багфикса (пробовал так же и стабильный). Кура 4.11 и 4.12, запускаю со стационарного ПК, подключенного к роутеру через кабель. Роутер ТП линк (поставил недавно) до этого был другой, netgear. Результат от смены роутера не меняется.
Не знаю в какой момент поломалась эта функция, я это как то упустил из виду, в чем причина неизвестно, увы.

[2021-10-23 20:56] Elkin-Vasily commented on #128
Кроме нашего плагина еще какие-то стоят?

[2021-10-23 20:57] Malderin commented on #128
да много всяких, в логе есть список в самом начале.

[2021-10-23 21:23] Elkin-Vasily commented on #128
Подозреваю что кто-то из них ломает, других вариантов не вижу

[2021-10-23 22:38] Malderin commented on #128
Снес все плагины, результат не изменился. Главное сама то передача работает, не работает именно отображение передачи.
Я не знаю что конкретно случилось, но могу предположить, что это могут быть какие то изменения в марлине, как известно там их много и в последнее время они там сильно сосредоточились на оптимизации и уменьшении (чистке) кода. Возможно какие то изменения поломали связь мкс вайфай пл

[2021-10-23 22:41] Elkin-Vasily commented on #128
У меня на одном из принтеров довольно свежий марлин и такой беды нет. Плюс по коду выходит что ломается сигнал от Qt-шного http-менеджера. Не уверен что это может быть что-то на стороне марлина. Ломается процесс получения прогресса передачи при post-запросе.

[2021-10-24 00:04] Elkin-Vasily commented on #141
WiFi module saves files on SD and then start printing. Without SD it won't work.

[2021-10-24 00:05] Elkin-Vasily commented on #141
Try to turn printer on without SD, then insert SD, than start Cura and try to print.

[2021-10-24 00:06] Elkin-Vasily commented on #141
Have you tried to use another SD card?

[2021-10-24 00:13] #93 closed, assigned to nobody

[2021-10-24 00:15] Elkin-Vasily commented on #81
Is this problem actual with current plugin version?

[2021-10-24 07:28] Malderin commented on #128
Все работало какое то время назад и потом вдруг перестало. В чем причина так и не понятно. Я точно знаю что не менял ничего со своей стороны кроме версии самой куры, версии плагина мкс вайфай и постоянно изменяющихся версий прошивки марлин. Что конкретно поломало работу сказать не могу.

[2021-10-24 07:46] Malderin commented on #128
Для теста поставил куру 4.6 и старую версию плагина 1.1.3. Результат не изменился. На версии куры 4.6 передача работала точно, я помню.

[2021-10-24 08:02] #211 closed, assigned to nobody

[2021-10-24 08:48] Malderin commented on #128
Наша беседа навела на мысль. Я решил проверить установленные антивирусные программы.  Их у меня 2, это касперский тотал секьюрити и встроенный защитник виндовс (естествеено работает какая то одна).
Отключил касперского,  включился защитник и тут же выдал предупреждение про куру, где я дал все возможные разрешения. И чудо, все заработало как надо.
Включил касперского и опять индикатор передачи рабо

[2021-10-24 08:48] #128 closed, assigned to nobody

[2021-10-24 08:51] #115 closed, assigned to nobody

[2021-10-24 08:53] Elkin-Vasily commented on #128
Здорово! Поздравляю

[2021-10-25 07:02] Elkin-Vasily opened #222 "Replaсe QNetworkAccessManager with Uranium HttpRequestManager"
### Is your feature request related to a problem?

No

### Describe the solution you'd like

Replaсe QNetworkAccessManager with Uranium HttpRequestManager

### Describe alternatives you've considered

No

### Affected users and/or printers

All

### Additional information & file uploads

_No response_

[2021-10-25 07:35] #222 closed, assigned to nobody

[2021-10-27 11:16] snoopomsk commented on #127
Supporting that feature request as well. Also having Flying Bear Ghost 5 and really suprised that there is no  HASS integration for it.

[2021-10-27 12:21] necroave commented on #127
Wold be nice if mkswifi will be supported and have home assistant plug in.

[2021-10-27 12:23] CoolRinat commented on #127
It would be a cool feature. I also have FlyingBear Ghost 5 and HA instance. And I really need awareness of how the printer works remotely. thx

[2021-10-27 12:24] Jeredian commented on #127
It's simpler to create an additional app than a plugin for HomeAssistant.  But I'm not sure that someones are ready to pay for it.

[2021-10-30 15:58] Elkin-Vasily opened #224 "Printing progress bar"
### Is your feature request related to a problem?

No

### Describe the solution you'd like

Adding progress bar on monitor tab

### Describe alternatives you've considered

No

### Affected users and/or printers

Everyone with MKS WiFi module

### Additional information & file uploads

_No response_

[2021-10-30 16:35] Elkin-Vasily commented on #21
There is no way to transfer creation and modification date of the file via wifi at the moment. It is related with MKS WiFi module firmware (https://github.com/makerbase-mks/MKS-WIFI)

[2021-10-30 16:35] #21 closed

[2021-10-30 21:48] #224 closed, assigned to nobody

[2021-10-30 22:22] Elkin-Vasily opened #226 "Add preview as post process procedure"
### Is your feature request related to a problem?

No

### Describe the solution you'd like

Get and add preview at post processing

### Describe alternatives you've considered

No

### Affected users and/or printers

All users

### Additional information & file uploads

_No response_

[2021-10-31 11:26] Elkin-Vasily opened #228 "Error after canceling wifi file upload"
### Plugin Version

1.2.6-dev

### Cura Version

4.12.0-beta

### Platform

Mac OS

### Printer

Flying Bear Ghost 5

### Reproduction steps

1. Start uploading file over wifi
2. Cancel upload

### Actual results

Got error

### Expected results

File cancels without errors

### Checklist of files to include

- [ ] Log file
- [ ] Project file

### Additional information & file uploads

No

[2021-10-31 13:49] Elkin-Vasily commented on #127
There is such project by @Blooof.

[Here it is.](https://github.com/Blooof/Mks2MqttReporter)

[2021-10-31 13:49] #127 closed, assigned to nobody

[2021-10-31 14:06] #228 closed, assigned to nobody

[2021-10-31 14:09] #226 closed, assigned to nobody

[2021-11-01 17:21] Elkin-Vasily commented on #179
Can you try to reproduce this bug with the plugin version from devel branch?

[2021-11-01 17:22] Elkin-Vasily commented on #178
Can you attach Cura log file?

[2021-11-03 10:16] sneakythr0ws commented on #166
+1

[2021-11-14 11:31] Elkin-Vasily opened #230 "Replace UnifiedConnectionState with ConnectionState"
### Is your feature request related to a problem?

No

### Describe the solution you'd like

Replace UnifiedConnectionState with ConnectionState

### Describe alternatives you've considered

No

### Affected users and/or printers

All

### Additional information & file uploads

_No response_

[2021-11-14 12:44] #230 closed, assigned to nobody

[2021-11-15 16:04] Elkin-Vasily commented on #166
Could you please open a new bug issue with detailed description of the problem?

[2021-11-18 18:00] Jeredian opened #232 "Add image preview for Wanhao D12"
### Is your feature request related to a problem?

Wanhao D12 doesn't have settings for preview image sizes.

### Describe the solution you'd like

Add "Wanhao D12" to the selectors, with simage: 100 , gimage: 200

### Affected users and/or printers

Wanhao D12

[2021-11-18 22:08] jef-maubert opened #233 "How to add metadata "simage "and "gimage" in GlobalContainerStack for wanhao D12 printer"
### What is your question?

First of all thanks a lot for this plugin, that I do appreciate.

The miniature is no included into the gcode with the "MKS Wifi Plugin" , while it was correctly included into the gcode with the  "MKS Plugin Connection".
Comparing the sources of the 2 plugins, it seems this is due to the way each plugin define the size of the miniature :

- in "MKS Plugin Connection", t

[2021-11-19 14:59] 1lug1998 opened #234 "MKS WiFi - CURA 4.12"
### Plugin Version

1.2.5

### Cura Version

4.12

### Platform

Windows 11

### Printer

FLSun Cube with SKR 2 Mainboard

### Reproduction steps

I'm seeing some issues with the MKS wifi plugin and CURA 4.12.
The file shows that it uploaded successfully both in CURA and on the MKS TFT32 V3.0 I have. I cannot see the file on the screen. If I view the SD card in cura, it does not show the file. Whe

[2021-11-19 15:57] Elkin-Vasily commented on #234
Attach a log-file, please

[2021-11-19 16:13] 1lug1998 commented on #234
I'm not quite sure how to get a log file of the issue.

[2021-11-19 16:27] 1lug1998 commented on #234
Log file has been uploaded.

[2021-11-20 10:07] Jeredian commented on #233
Hi @jef-maubert ,
We have a file with screenshot settings (https://github.com/Jeredian/mks-wifi-plugin/blob/develop/config/screenshot.json)
You can edit it to use a new value for your Printer model.
But also we have a ticket (#232) to implement it in the next versions of the plugin, probably on 1.2.7

[2021-11-20 12:45] Elkin-Vasily commented on #234
In the log file you have send I see that you try to upload 20mm_cube.gcode file, it works ok. And then I see this file in file list on your SD:

mks recv: Begin file list
mks recv: System Volume Information.DIR
mks recv: four_square_cons.gcode
mks recv: 4132-M-052REVB.gcode
mks recv: 20mm_cube.gcode
mks recv: End file list

Was there some problems with this file?

[2021-11-21 20:16] Elkin-Vasily commented on #142
closed due to inacktivity

[2021-11-21 20:16] #142 closed, assigned to Jeredian

[2021-11-21 20:18] Elkin-Vasily commented on #141
closed due to inacktivity

[2021-11-21 20:18] #141 closed, assigned to nobody

[2021-11-21 20:20] Elkin-Vasily commented on #20
MKS WIFI module supports only one connection at a time.

[2021-11-21 20:20] #20 closed

[2021-11-21 20:20] Elkin-Vasily commented on #81
closed due to inacktivity

[2021-11-21 20:20] #81 closed, assigned to nobody

[2021-11-22 13:31] 1lug1998 commented on #234
20mm_cube uploaded just fine weirdly, I haven't had a good upload in a while. The others I put on the SD card by inserting the SD card into my PC to transfer them.

[2021-11-22 16:10] Elkin-Vasily commented on #234
Ok, could you provide a log file with the unsuccessful file transfer?

[2021-11-22 16:12] Elkin-Vasily opened #235 "Add file print autostart option into plugin settings"
### Is your feature request related to a problem?

No

### Describe the solution you'd like

Add a checkbox into plugin settings

### Describe alternatives you've considered

No

### Affected users and/or printers

All who has a wifi module

### Additional information & file uploads

_No response_

[2021-11-24 06:00] ZombiKain commented on #167
And it would be great if you could integrate a webcam via the USB.
For example, I have a Logitech C920 connected to my computer and I have to monitor printing through OBS Studio. It would be convenient if the camera would be displayed in the "MONITOR" tab in Cura.

[2021-11-25 20:51] Reasonable-Human opened #239 "MKS WiFi Plugin wont connect to ESP8266 flashed with MKS-WiFi firmware"
### Plugin Version

1.2.2

### Cura Version

4.12

### Platform

Windows 11

### Printer

A custom Marlin Printer, connected to an esp8266

### Reproduction steps

Ive installed the plugin from the marketplace in Cura 4.12. Then when i open the MKS WiFi Plugin window on my printer in the printers section i enable the WiFi and add the IP address that my esp8266 (which was flashed with [this](https:

[2021-11-26 07:46] Jeredian commented on #239
@Reasonable-Human , please attach a log file.

[2021-11-26 15:00] Reasonable-Human commented on #239
[cura.log](https://github.com/Jeredian/mks-wifi-plugin/files/7609462/cura.log)
Here it is.

[2021-11-26 22:19] #234 closed, assigned to nobody

[2021-11-27 13:35] Filmman586 opened #240 "Save as .TFT File not available"
### Plugin Version

1.26

### Cura Version

4.12.1

### Platform

Windows 10

### Printer

Elegoo Neptune 2

### Reproduction steps

I updated to 1.2.6 from the marketplace and the options is no longer available in Cura

### Actual results

![image](https://user-images.githubusercontent.com/83276762/143683502-570a0cba-2643-4bb5-8d85-5169bac039be.png)

### Expected results

Expected to see the save

[2021-11-27 15:03] Elkin-Vasily commented on #240
From this version preview image (if this option is on for the currently selected printer) adds to the default "Save to Disk" option.

[2021-11-27 15:03] #240 closed, assigned to nobody

[2021-11-27 15:12] Elkin-Vasily commented on #239
As I see in log-file plugin sends commands to wifi-module, but gets no answers.

You cat try ti connect to wifi-module by using netcat or telnet with printer IP and 8080 port. The connection can be tested with M105 and M997 commands.

[2021-11-27 16:07] #210 closed, assigned to nobody

[2021-11-27 16:16] Jeredian opened #241 "[DEV] Release 1.2.7-dev"
Mark plugin version as 1.2.7-dev, after 1.2.6 will be released

[2021-11-27 16:18] Jeredian opened #242 "[DEV] Release 1.3.0"
## Release notes
### Features:
* #232
* #255
* #251
* #105
* #139
* #261
* #248

### Bugfixes:
* #129
* #244
* #179
* #253
* #58

[2021-11-27 16:19] #241 closed, assigned to Jeredian

[2021-11-27 16:21] #129 closed, assigned to nobody

[2021-11-27 16:21] #232 closed, assigned to nobody

[2021-11-27 16:33] Elkin-Vasily commented on #233
Have been implemented in current dev-version during #232 issue

[2021-11-27 16:34] #233 closed, assigned to nobody

[2021-11-27 17:49] Reasonable-Human commented on #239
If i telnet to it with the command `telnet 192.168.178.134 8080` the terminal goes blank. However nothing i type shows up in the terminal, and typed commands (like m80, m105) have no response.

[2021-11-27 18:27] Filmman586 commented on #240
Thank You!

[2021-11-28 09:50] Elkin-Vasily commented on #239
It means that you have some problems with wifi-module, or with the printer firmware.

[2021-11-28 10:47] Elkin-Vasily opened #244 "Incorrect alignment of the extruder section on the monitor tab when 2 extruders"
### Plugin Version

1.2.7-dev

### Cura Version

4.12.1

### Platform

Mac OS

### Printer

BIBO 2 dual

### Reproduction steps

Just connect the printer via wifi and open monitor tab

### Actual results

2 extruder boxes places vertically when the monitor section width is even

### Expected results

2 extruder boxes places horizontally

### Checklist of files to include

- [ ] Log file
- [ ] Proj

[2021-11-28 10:52] Elkin-Vasily commented on #178
I have tested this. Plugin works just correct (it sends the needed command M104 S0 T1), there is some issue in the wifi module or the printer firmware. Try to make an issue here: https://github.com/makerbase-mks/MKS-WIFI

[2021-11-28 10:52] #178 closed, assigned to nobody

[2021-11-28 13:39] bellzw commented on #178
I have been traveling and will be check this again after I return home on 29 Nov.  Note that the problem was NOT that the printer nozzle stayed hot, it was that MKS WiFi continued to show the previous set point.  Since posting this issue, I have updated Cura to 4.12, so I don't yet know if the problem persists.

[2021-11-28 15:40] Elkin-Vasily commented on #178
I have tested this with Cura 4.12.1 and MKS WiFi Plugin 1.2.7-dev. As I sad the problem is not in plugin. Plugin sends the right command to set target temperature to 0, but WiFi-module continue to send that target temperature for the second extruder is the same as it was (no matter what it was 200 or 1 degree Celsius).

[2021-11-29 10:46] #179 closed, assigned to nobody

[2021-11-29 10:46] #244 closed, assigned to nobody

[2021-11-29 10:47] #239 closed, assigned to nobody

[2021-11-29 10:55] Jeredian commented on #167
@aperoap1 , @Nexurion both ideas look great, but this feature is planned for a quite long-time in the future, I can't say right now when we will start to work on it. Most of our users for this feature changing to the OctoPrint, because it has more flexibility for it and also has an extra environment outside of the Cura.

[2021-11-29 13:09] bellzw commented on #178
Understood. I'm at the airport as I write this and will check it on my installation later today or tomorrow.  I just did the update to 4.12.1 and updated the plug-in.  If indeed the printer reports the wrong temperature back to Cura, I'll notify the manufacturer that there's a bug in their firmware.

[2021-11-29 15:43] Cadoudal opened #246 "Display issue"
### Plugin Version

1.2.6

### Cura Version

4.11.0

### Platform

Windows 11

### Printer

Wanaho D12/230

### Reproduction steps

1. Install MKS-Wi-fi-plugin in Cura
2. Connect my Wanaho D12/230 to the wifi
3. Launch print via MKS-wifi-plugin in Cura
4. Go in 'Monitor' tab in Cura

### Actual results

Their is an issue with the display:
 - All the information under 'Send G-code' are mixed-up:

!

[2021-11-29 15:54] Elkin-Vasily commented on #246
This section is not related to the plugin, it is related to the Cura itself (you can check this - just connect your printer to the Cura with the USB cable). This section looks well with the higher resolution screens.

If you want - you can create issue in the Cura repository https://github.com/Ultimaker/Cura

[2021-11-29 15:54] #246 closed, assigned to nobody

[2021-11-30 20:58] nefelim4ag opened #247 "WebSocket connection to MKS WiFi"
### Is your feature request related to a problem?

No

### Describe the solution you'd like

https://github.com/xreef/MKS_WIFI_upgrade_with_BeePrint_web_interface
Some guy write completely new firmware for MKS WiFi with backward compatibility with your plugin

So in theory, current plugin can use a web socket if available for communication with the board
https://www.mischianti.org/2021/11/28/mks-w

[2021-12-01 18:04] bellzw commented on #178
I don't seem to have access to 1.2.7-dev from Cura; I can only get 1.2.6, which I have installed.  Do I need to get 1.2.7-dev from github and manually install it?

There appears to be some problems with 1.2.6 as follows:

1. I get this screen:
![1 2 6-1](https://user-images.githubusercontent.com/51066449/144162520-cd475232-4a4e-47a3-ad20-85ac9ee1069e.png)
  The IP address is almost illegible with

[2021-12-02 08:36] Jeredian opened #248 "Add codeowners file"
Create a CODEOWNERS file inside .github folder
Add global settings for @Jeredian and @Elkin-Vasily users

Also, add .github/release-drafter.yml for Release drafter

[2021-12-02 13:12] WarlockSVG opened #249 "Plugin can't be loaded."
### Plugin Version

1.2.6

### Cura Version

4.12.1

### Platform

Windows 10

### Printer

FLSUN QQ-S Pro

### Reproduction steps

Copied the plugin to the plugin folder and started Cura.

### Actual results

![2021-12-02 - 13-47-43](https://user-images.githubusercontent.com/33853101/144427257-c02962ec-6f54-44ef-b89c-7e1bc113e2fc.png)

I can't use the plugin... I get the error msg shown on the pr

[2021-12-02 13:39] ZombiKain commented on #167
@Jeredian, thanks for the answer! I will follow the updates and wait for the appearance of this feature. I still have little experience in 3D printing and the functionality of my printer is enough for me, so I don't want to changing to OctoPrint. Good luck to you in development and in life! :)

[2021-12-02 20:08] Elkin-Vasily commented on #249
Could you please manually delete the plugin directory and install it from Cura Marketplace? It calls MKS WIFI Plugin there.

[2021-12-02 20:28] Elkin-Vasily commented on #178
Actually no. There some minor changes that have not been tested properly yet.

We are getting this elements from Cura Theme. You can change Cura's current theme, it can influence this.

This made for those who has multiply printers and not all of them with MKS WiFi-module or MKS TFT.

Remove works only when MKS WiFi Plugin is on for active printer (with a checkbox).

Just use "Default" option (mos

[2021-12-04 11:03] Sabonius opened #250 "File name is too long to upload. Please rename it."
### Plugin Version

1.2.6

### Cura Version

4.12.1

### Platform

Windows 7 SP1

### Printer

Flying Bear ghost 5

### Reproduction steps

1. Connect to printer
2. MKS WIFI settings: "screenshot support" - "enabled"
3. Send to print via button "Print over flying bear ghost 5"

### Actual results

1. Get "File name is too long to upload. Please rename it." window.
2. Renaming doesn't help.

If "sc

[2021-12-04 13:25] Elkin-Vasily commented on #250
Add a log-file please

[2021-12-04 19:04] Sabonius commented on #250
[cura.log.1.log](https://github.com/Jeredian/mks-wifi-plugin/files/7654483/cura.log.1.log)
[cura .log](https://github.com/Jeredian/mks-wifi-plugin/files/7654486/cura.log)

Failed to reproduce the bug. Now everything works.
And files added do not contain times bug happened as far as I can see.

Do not know what to do next.

[2021-12-04 19:31] Elkin-Vasily commented on #250
Nice to hear that all is ok

[2021-12-04 19:31] #250 closed, assigned to nobody

[2021-12-05 16:13] Elkin-Vasily opened #251 "Remove zeroconf"
### Is your feature request related to a problem?

Some users getting trouble with zeroconf lib

### Describe the solution you'd like

Remove zeroconf from code, we do not use it

### Describe alternatives you've considered

No

### Affected users and/or printers

All

### Additional information & file uploads

_No response_

[2021-12-06 08:17] #251 closed, assigned to nobody

[2021-12-07 11:22] Elkin-Vasily opened #253 "Wanhao D12 has incorrect index for screenshot settings selector"
### Plugin Version

1.2.7-dev

### Cura Version

4.12.1

### Platform

Mac OS

### Printer

Wanhao D12

### Reproduction steps

No

### Actual results

Two number 4 indexes

### Expected results

Every printer got exclusive index

### Checklist of files to include

- [ ] Log file
- [ ] Project file

### Additional information & file uploads

No

[2021-12-07 11:30] #253 closed, assigned to nobody

[2021-12-08 15:49] Elkin-Vasily commented on #249
@WarlockSVG any updates?

[2021-12-10 02:24] khaoskosmos opened #255 "Support Arachne Engine Beta 2"
### Plugin Version

1.2.7-dev

### Cura Version

Arachne Beta 2

### Platform

MacOS

### Printer

Custom

### Reproduction steps

Install Arachne Beta 2. Try to use plugin.

### Actual results

Plugin doesn't work.

### Expected results

Works.

### Checklist of files to include

- [ ] Log file
- [ ] Project file

### Additional information & file uploads

Nothing.

[2021-12-13 08:09] #255 closed, assigned to nobody

[2021-12-19 14:42] MrRefactoring opened #258 "Wrong printing time"
### Plugin Version

1.2.6

### Cura Version

4.12.1

### Platform

Windows 10, MacOS 12

### Printer

Flying Bear Ghost 5

### Reproduction steps

1. Send printing job to the printer
2. Wait until the progress bar sets the value to 1%
3. Get a wrong printing time (4 or 5 hours displayed but printing just started)

### Actual results

Wrong printing time displayed

### Expected results

Showing cor

[2021-12-20 12:55] Elkin-Vasily commented on #258
By "Printing time" Cura means "Total printing time" and we updating self._time_total of Cura. The form on the monitor tab is mostly a Cura-form. So if you want, you can create an issue in the Ultimaker repo: https://github.com/Ultimaker/Cura

[2021-12-20 12:55] #258 closed, assigned to nobody

[2021-12-22 11:53] feivur opened #259 "Printing not finish"
### Plugin Version

1.2.6

### Cura Version

4.11.0

### Platform

Windows 10

### Printer

FBG5

### Reproduction steps

After printing is complete, the plug-in remains in the "printing ..." state. It is not possible to stop printing, nothing happens after "Abort print" -> Yes. Have to restart the printer and cura.

### Actual results

After print finishes, plugin freezes

### Expected results

A

[2021-12-23 08:06] Jeredian commented on #259
@feivur , please attach the cura.log file.

[2021-12-23 10:41] Elkin-Vasily commented on #259
What printer firmware do you use?

[2021-12-24 10:58] feivur commented on #259
[cura.log.txt](https://github.com/Jeredian/mks-wifi-plugin/files/7774014/cura.log.txt)
Чтобы плагин одумался, приходится переподключать его в настройках принтера в куре и много раз жать кнопку остановки печати. И не всегда помогает.

[2021-12-25 16:05] Elkin-Vasily commented on #249
Closed due to inactivity

[2021-12-25 16:05] #249 closed, assigned to nobody

[2021-12-25 16:12] Elkin-Vasily commented on #259
According to your log file you have got custom printer firmware that works with wifi module not correctly. So after printing is finished wifi module tells that printer is still in "PRINTING" status. Just change the firmware, or make an issue in firmware's repository.

[2021-12-25 16:12] #259 closed, assigned to nobody

[2021-12-31 16:33] UncleJessy opened #260 "1.2.6 Remove function does not work"
### Plugin Version

1.2.6

### Cura Version

4.12.1

### Platform

MAC oS

### Printer

Neptune 2

### Reproduction steps

1. Setup MKS Plugin
2. Assign IP address
3. Connect to Printer
4. Disconnect from Printer
5. Click Remove

### Actual results

When attempting to Remove a connection entry nothing happens.
If you Restart Cura and try to remove - it will not remove
If you uninstall the plugin -

[2022-01-09 09:38] #58 closed, assigned to Elkin-Vasily

[2022-01-09 09:45] Jeredian opened #261 "Support the 7.9.0 version of SDK for Cura 4.13.0+"
### Is your feature request related to a problem?

No

### Describe the solution you'd like

Add new SDK support

### Describe alternatives you've considered

-

### Affected users and/or printers

All

### Additional information & file uploads

_No response_

[2022-01-09 09:54] Jeredian commented on #260
@UncleJessy , can you try the same thing but with latest version from develop branch? (you will need to replace files at the Library/Application Support/cura/4.12/plugins/MKSWifiPlugin/MKSWifiPlugin folder)
Because I tried for 4.12 and 4.13 versions of the Cura and I can't reproduce your issue.

[2022-01-14 08:09] #105 closed, assigned to nobody

[2022-01-14 08:10] #139 closed, assigned to nobody

[2022-01-14 08:11] Jeredian commented on #139
done in #262

[2022-01-22 18:11] #261 closed, assigned to Jeredian

[2022-01-22 19:13] #248 closed, assigned to Jeredian

[2022-01-22 19:18] #242 closed, assigned to Jeredian

[2022-01-22 21:12] Jeredian commented on #260
@Elkin-Vasily , please try to reproduce it too, because I can not. If it does not appear for latest version of the plugin, let's close this issue.

[2022-01-22 21:17] Jeredian opened #266 "Add type:community label to the versioning"
### Is your feature request related to a problem?

No

### Describe the solution you'd like

Update the .github/release-drafter.yml , to:

-  implement label `type: community` to the release drafts
-  fix exclude-labels usage

### Describe alternatives you've considered

no

### Affected users and/or printers

no

### Additional information & file uploads

_No response_

[2022-01-23 10:14] #266 closed, assigned to Jeredian

[2022-01-31 10:00] nallath opened #269 "Crash Cura when printer connection state changed"
### Plugin Version

1.3.0

### Cura Version

4.13.x

### Platform

Any

### Printer

Doesn't matter?

### Reproduction steps

No idea; We only get the crash reports.

### Actual results

Cura crashes.

### Expected results

No crash.

### Checklist of files to include

- [ ] Log file
- [ ] Project file

### Additional information & file uploads

https://sentry.io/share/issue/32dff18b926346d2a7b4d6

[2022-01-31 18:09] Elkin-Vasily commented on #269
Attach a log-file please

[2022-02-01 09:11] nallath commented on #269
I pulled some of the breadcrumbs from one of the crashes.

[code]

The issue as far as I can see from looking through your code is that self._current_printer is of type Optional[MKSOutputDevice
]. If you want to catch issues like this in the future, I can recommend using mypy typing, since it would warn you that one of the types that the variable can be doesn't have the "getKey" function.

[2022-02-02 06:01] Jeredian commented on #269
@nallath, good catch! MyPy is a good idea, I never thought that it will be needed for our small plugin before.
I will try to provide a new version with this fix till the end of the week.

[2022-02-02 08:39] nallath commented on #269
You don't _have_ to use it of course, but I've found that it has benefits for small & large projects alike. It takes a bit of time to get used to, but the extra effort pays itself back in my experience.

[2022-02-05 18:33] chris-red commented on #269
I have this issue along with another. The Printer will often connect then disconnect when starting Cura. I have found if I remove and Re add the ip it 'fixes' it but cura also crashes when I do this. it has only been since the last update.

info from the crash...

Traceback (most recent call last):
  File "C:\Users\Chris\AppData\Roaming\cura\4.13\plugins\MKSWifiPlugin\MKSWifiPlugin\MKSOutputDevice

[2022-02-06 03:16] awakenedlast commented on #269
I'm having the same issue as chris-red. The printer will repeatedly connect/disconnect. I will try his work-around until then.

[2022-02-06 13:00] chris-red commented on #269
Have reverted to 1.2.6 and it is fine, solid as it was before.

[2022-02-06 13:06] Jeredian commented on #269
@chris-red, yep this is the current workaround for the `connection state changed` issue.  We working on the solution, and the plugin will have an update asap.
About `repeatedly connect/disconnect`, you need to disable WiFI settings support, restart Cura, and enable it again. This workaround will clear olf IP values and prevent the race condition.

[2022-02-06 13:30] chris-red commented on #269
Thanks @Jeredian and thanks for maintaining this, its a great bit of software. I love the features I get from it and a cheap WiFi module as made my printer much better.

[2022-02-06 14:38] Jeredian opened #271 "Reset old settings after plugin updated"
### Is your feature request related to a problem?

Yes. After setting updates, old settings sometimes not to be cleared

### Describe the solution you'd like

Check that the old version is updated and settings need to be cleared (one time after update)

### Describe alternatives you've considered

-

### Affected users and/or printers

all users that updated from 1.2.6 to 1.3.0

### Additional inf

[2022-02-06 14:39] Jeredian commented on #269
`Repeatedly connect/disconnect` issue was moved to the separated task (#271)

[2022-02-06 14:42] #269 closed, assigned to Jeredian

[2022-02-06 14:43] Jeredian commented on #260
closed due inactivity

[2022-02-06 14:43] #260 closed, assigned to Elkin-Vasily

[2022-02-06 14:47] Jeredian opened #272 "What's new screen"
### Is your feature request related to a problem?

We need a dialog to inform users about new features and breaking changes

### Describe the solution you'd like

Investigate it

### Describe alternatives you've considered

-

### Affected users and/or printers

-

### Additional information & file uploads

_No response_

[2022-02-06 14:54] Jeredian opened #273 "[DEV] Release 1.3.1"
## Release notes

### Bugfixes:
* #269

[2022-02-06 15:00] #273 closed, assigned to Jeredian

[2022-02-10 21:20] Kite79 opened #275 "Problem With Cura MKS windows 11 Flying Bear Ghost 5"
### Plugin Version

1.3.1

### Cura Version

4.13.1

### Platform

Windows 11

### Printer

Flying Bear Ghost 5

### Reproduction steps

Flying Bear Ghost 5 with Ultimaker Cura 4.13.1 with Plugin versione 1.3.1 or versione 1.3.0 and Windows 11 it does not work,
MKS can't connect with the printer...

Flying Bear Ghost 5 with Ultimaker Cura 4.13.1 with Plugin versione 1.3.1 or versione 1.3.0 and Win

[2022-02-11 08:08] Jeredian commented on #275
Hi @snow79,
to be sure that the issue is related to the windows 11 operation system you need to check several steps:
1. Flying bear supports only one active connection. So please turn off other instances of Cura.
2. If you are migrating from the 1.2.6 version. please make this workaround: turn off Wifi settings, restart Cura, add printer Ip address again, and then press the "Connect" button.
3. Tu

[2022-02-13 17:12] Icare2000 opened #276 "Cura crashed with error: 'NoneType' object has no attribute 'getMetaDataEntry'"
### Plugin Version

1.3.1

### Cura Version

4.13.1

### Platform

Windows 11

### Printer

Wanhao

### Reproduction steps

1) install update 4.13.1--> this is crahsing

Traceback (most recent call last):
  File "C:\Users\Philippe\AppData\Roaming\cura\4.13\plugins\MKSWifiPlugin\MKSWifiPlugin\MachineConfig.py", line 114, in foundDevices
    printers = self._network_plugin.getPrinters()
  File "C:\U

[2022-02-20 10:36] #276 closed, assigned to nobody

[2022-02-20 10:37] Jeredian opened #278 "[DEV] Release 1.3.2"
## Release notes

### Bugfixes:
* #276

[2022-02-20 10:43] #278 closed, assigned to Jeredian

[2022-02-20 10:47] Jeredian commented on #276
@Icare2000 , you can try to manually install [release 1.3.2](https://github.com/Jeredian/mks-wifi-plugin/releases/tag/1.3.2) until it will available at the Cura Market

[2022-02-20 17:01] shadowpulse-alt opened #280 "Checkbox Bug"
### Plugin Version

1.3.1

### Cura Version

4.12.1

### Platform

Windows 11

### Printer

Wanhao D12 300

### Reproduction steps

By deactivating the box "print job" during the sending of the file the printing starts anyway after the transfer of the gcode file to the machine.

### Actual results

The printing starts anyway after the transfer of the gcode file to the machine.

### Expected result

[2022-02-20 19:42] Icare2000 commented on #276
Hello It works! Thanks

[2022-02-21 07:32] Jeredian commented on #280
@ElectroFactory , thanks for the issue. It will be solved in #271 .
As a workaround, you can try to reinstall the plugin at the Cura market. ( remove plugin, restart Cura and install it again )

[2022-03-03 07:20] cooljackgi opened #281 "Reconnection every second"
### Plugin Version

1.3.1

### Cura Version

4.13.1

### Platform

Windows 10

### Printer

FlSun QQ-Pro

### Reproduction steps

Just open the app an the printer cylce thrugh connect disconnect connect and so on...

Any Idea?

### Actual results

Just open the app an the printer cylce thrugh connect disconnect connect and so on...

Any Idea?

### Expected results

Just stay connected.

### Checkl

[2022-03-06 21:05] bobafetthotmail commented on #281
I had a similar issue with a FlyingBear Ghost 5 (also connected through this plugin) and I solved it by removing the printer from Cura, closing and reopening Cura, then add the printer and wifi configuration again.

[2022-03-10 08:47] cydwarf commented on #281
Да, начинает надоедать уже. Приходится отключать плагин, выходить из куры, запускать заново, включать плагин и вводить данные заново (они не сохраняются) — нажать две галки, ввести 255, Add, ввести адрес, выделить новую строку с айпишником, Connect. И так каждый раз, когда хочешь что-то напечатать.

[2022-03-10 19:25] bobafetthotmail commented on #281
In my case I did it only one time and now it's "fixed"

[2022-03-11 06:22] cydwarf commented on #281
Oh, it worked! Thanks!

I've tried this newer 1.3.2, current 1.3.1, also the older 1.3.0, with the same result. Maybe it has something to do with Cura, not the plugin itself. Added a new FBG5 from the default Cura's list (yes, now it's there, thanks to oducceu) and removed the old one. And voila!

[2022-03-11 17:43] molor opened #282 "How to disable monitor tab "auto-click"?"
### Is your feature request related to a problem?

I'm always frustrated when Cura switches to monitor tab that's useless _for me_ in 90 % of time, so it's just the need to make another click every time.. I think that there was no such behavior in early versions of plugin, and it was very convenient for me and my team — idk why it's changed and for what.

### Describe the solution you'd like

I ho

[2022-03-13 02:44] cydwarf commented on #281
Now again, disconnects, connects, disconnects again.
В общем, баг остался.

[2022-03-22 08:08] Jeredian commented on #282
@molor , looks like a good idea, we will try to implement this feature asap.

[2022-03-22 08:14] Jeredian commented on #281
Hi @cydwarf , @bobafetthotmail
You can try to make a few simple things as most common workaround:
1. Open Cura and go to the plugin settings window
2. Remove current IP and disable wifi settings ( it should clear all old settings from the previous version )
3. Restart Cura
4. Enable wifi settings and add a printer IP address.

If this doesn't work, you can try to edit the machine_instance setting

[2022-03-23 06:05] cydwarf commented on #281
Yeah, thanks, didn't help. The first way does nothing to my notice. Even without IP address in the plugin's IP list, Cura connects to the printer and starts showing statuses "connected, disconnected" in a loop. The second way helps only one time, before I close and open Cura again.

What helps is to uncheck WiFi Support and restart Cura, it'll be checked again after this, I enter 255 again in the

[2022-04-02 14:33] Elkin-Vasily opened #283 "Add de_DE locale"
### Is your feature request related to a problem?

No

### Describe the solution you'd like

Add de_DE locale

### Describe alternatives you've considered

No

### Affected users and/or printers

All the people that speaks German

### Additional information & file uploads

_No response_

[2022-04-03 10:32] #283 closed, assigned to Elkin-Vasily

[2022-04-04 10:47] #235 closed, assigned to nobody

[2022-04-04 10:47] #280 closed, assigned to nobody

[2022-04-13 22:58] Imperattor commented on #134
language only  China  !!! ((((

[2022-04-20 14:48] andrmiw9 commented on #281
I have the same issue on FB Ghost 5

[2022-04-23 03:10] WEREWOLF1973 opened #286 "Button "Delete" is not work, files from SD card cannot be removed remotely"
### Plugin Version

1.3.3

### Cura Version

4.13.1

### Platform

Windows 10

### Printer

Ender 3

### Reproduction steps

Try all plugin releases

### Actual results

All plugin releases have issue with inactive button "Delete file" in SD card menu

### Expected results

Possibility deleting files from SD card from plugin menu

### Checklist of files to include

- [ ] Log file
- [ ] Project fil

[2022-04-25 07:49] Jeredian opened #287 "Support new Cura 5.0 updates"
https://github.com/Ultimaker/Cura/releases/tag/5.0-beta

[2022-05-02 14:07] ParkerK commented on #287
Is there any way we can test the current version? In the past, I've been able to tweak `plugin.json` to trick the plugin to work with a newer Cura version before an update for the plugin was released, but I wasn't sure if 5.0 was the same.

Edit: Nope. It looks like you need QT6 now, and a lot of the widget properties have changed, so it looks like 5.0 beta breaks a lot of it.

[2022-05-09 12:24] iqubik commented on #281
Have some issue.
такие же проблемы на той же версии cura но q5

[2022-05-09 12:38] iqubik opened #289 "Reconnect loop problem"
### Plugin Version

1.3.2

### Cura Version

4.13.1

### Platform

windows 10

### Printer

flsun q5

### Reproduction steps

1. Start cura
2. Printer is connect
3. Disconnect
4. Connect
5. Disconnect

### Actual results

loop connection and disconnection

### Expected results

Please fix this

### Checklist of files to include

- [X] Log file
- [ ] Project file

### Additional information & file

[2022-05-10 21:54] ParkerK commented on #281
Hello @Jeredian and @Elkin-Vasily I have found the source of this bug and submitted a PR to fix it. Please take a look at https://github.com/Jeredian/mks-wifi-plugin/pull/290

:)

[2022-05-10 21:56] ParkerK commented on #289
Hi @iqubik This issue is a duplicate of https://github.com/Jeredian/mks-wifi-plugin/issues/281. Please refer to that issue for the latest updates and the fix :)

[2022-05-11 12:32] #289 closed, assigned to nobody

[2022-05-11 12:40] #281 closed, assigned to nobody

[2022-05-13 16:15] sanchezmt opened #291 "Not working on Cura 4.13.1"
### Plugin Version

1.3.2

### Cura Version

4.13.1

### Platform

Windows 10

### Printer

Hellbot Magna 2 230

### Reproduction steps

1 - Install correctly the plugin
2 - Open Cura
3 - Cura cannot load plugin

### Actual results

Cura cannot load the plugin

### Expected results

Cura loads the plugin and I can use it

### Checklist of files to include

- [X] Log file
- [ ] Project file

### Ad

[2022-05-13 16:56] Jeredian commented on #291
It's not a bug, because you installed the plugin in incorrect way.
The correct folder for plugins is cura plugins folder inside **AppData**, f.x. `\AppData\Roaming\cura\4.13\plugins\MKSWifiPlugin`

Also for I recommend to you to install plugin via Cura Market, instead of manual installation. And only if you need not released version go to the  cura-plugins-folder and replace files them ( without a

[2022-05-13 16:58] Jeredian commented on #291
Since next release we will try to support *.curapackage , to prevent user to manually install custom version. It will keep us save out of this type of issues

[2022-05-13 16:58] #291 closed, assigned to nobody

[2022-05-13 17:05] Jeredian commented on #287
Short update: Develop branch updated via PR from @ParkerK , with Qt6 migration changes.
On **Monday** I will test it on OSX and Windows, and if all comes ok will provide new release.
Since these changes our plugin will support only **Cura 5.0** and newer.

I will try to keep in Cura Marketplace _1.3.2_ version only for 4.*+ Cura, but I'm not sure that is possible because of inner publish process.

[2022-05-17 11:34] kadorito commented on #287
Hello, I can't find any version on cura marketplace currently, is this normal ?

[2022-05-17 11:41] Jeredian commented on #287
@kadorito , yes, because we didn't released support for Cura 5, yet.
But if you use Cura 4.* the 1.3.2 should be available for you, if it's not - please create a separated ticket.

[2022-05-17 11:51] kadorito commented on #287
I'm using cura 5, I understand why then :-)

[2022-05-17 19:02] ParkerK commented on #287
PR https://github.com/Jeredian/mks-wifi-plugin/pull/294 will make it so 1.3.3+ will support both 4 and 5 if you want to go that route :). if not, feel free to ignore/reject

[2022-05-18 14:22] ParkerK commented on #286
@WEREWOLF1973 can you add a log file?

[2022-05-18 14:38] WEREWOLF1973 commented on #286
[cura.log](https://github.com/Jeredian/mks-wifi-plugin/files/8717198/cura.log)
Done

[2022-05-18 16:01] ParkerK commented on #286
It _might_ be due to the reconnect/connect and disconnect loop bug https://github.com/Jeredian/mks-wifi-plugin/issues/289

Your logs show a constant attempt to reconnect, and if Cura is disconnected it may not allow you to delete (since it thinks the connection is broken).

You can either wait for an update, or you could try editing this file https://github.com/Jeredian/mks-wifi-plugin/pull/290/fi

[2022-05-18 17:40] WEREWOLF1973 commented on #286
Done, but no effect....

[2022-05-18 20:47] iqubik commented on #287
Are looking forward to. And the bug with cyclic disconnection / connection of the printer on the old version has not gone away.

[2022-05-18 21:12] iqubik commented on #281
Fixed file for version 1.3.2  cura 4.
%AppData%\Roaming\cura\4.13\plugins\MKSWifiPlugin\MKSWifiPlugin
[MKSOutputDevice.zip](https://github.com/Jeredian/mks-wifi-plugin/files/8720925/MKSOutputDevice.zip)
7

[2022-05-19 01:31] Cameron18556 commented on #287
so does this plugin work to see the pictures on my screen?

[2022-05-22 08:05] Maoweicao opened #299 "Can't save thumb in Cura 5.0.0"
### Plugin Version

develop

### Cura Version

5.0.0

### Platform

Window 10 21H2

### Printer

Custom FFF

### Reproduction steps

1.Normal Use But Can't save RGB Screen Image
There is LOG Output in Cura 5.0.0

2022-05-22 15:43:01,261 - DEBUG - [MainThread] UM.Scene.Camera._preferencesChanged [255]: Changing perspective mode to perspective.
2022-05-22 15:43:01,264 - DEBUG - [MainThread] UM.View.

[2022-05-22 15:30] Elkin-Vasily commented on #299
Try to use version from this branch: https://github.com/Jeredian/mks-wifi-plugin/tree/issue-287

This problem is already fixed there.

[2022-05-22 16:01] ParkerK commented on #282
@Jeredian @Elkin-Vasily

I would be happy to try to implement this for you if you'd like. How would you feel about adding a third tab for additional settings?

![MKS_Settings_Mock](https://user-images.githubusercontent.com/464971/169704556-37f6de9c-6b9c-45d3-ba7a-e7e2f0419f4e.jpg)
![MKS_Settings_Mock2](https://user-images.githubusercontent.com/464971/169704557-dc1be2ac-dff4-415b-9a78-bdc8c361c3e6.

[2022-05-23 15:45] Jeredian commented on #282
I think file remaining and max length can be moved too, because they are not related to the network settings in that case.
@Elkin-Vasily , WDYF ?

[2022-05-23 15:48] Jeredian opened #300 "Add .curapackage support"
### Is your feature request related to a problem?

*

### Describe the solution you'd like

Add .curapackage support  for next releases and for the old ones

### Describe alternatives you've considered

*

### Affected users and/or printers

All

### Additional information & file uploads

_No response_

[2022-05-23 15:49] Elkin-Vasily commented on #282
Yeah, sounds right.

[2022-05-25 08:01] Jeredian commented on #282
@ParkerK , feel free to make PR, and if it's not difficult for you, move also `file renaming` and `max length` to the additional settings tab :-)
I created a new branch for this task ( `issue-282` ) you can use it as target instead of develop branch.

@Elkin-Vasily, as I remember we will need to update translations too, because there will be a new label for checkbox and 2 other will be moved to ne

[2022-05-25 11:10] Elkin-Vasily commented on #282
Sure

[2022-05-25 22:05] Jeredian opened #301 "Plugin have style issues with Cura 5.0"
### Plugin Version

next

### Cura Version

5.0

### Platform

Any

### Printer

FB4 4S

### Reproduction steps

1. Open plugin settings popup
2. Check described info below

### Actual results

1. Open Add new printer popup - incorrect label text

![image](https://user-images.githubusercontent.com/9591166/170373536-5714c479-680b-4507-86c0-c016f1a9e937.png)

2. Check boxes have wrong alignment

###

[2022-05-25 22:11] #287 closed, assigned to nobody

[2022-05-25 22:11] #299 closed, assigned to nobody

[2022-05-26 12:43] Jeredian opened #302 "Auto update i18n translation"
### Is your feature request related to a problem?

*

### Describe the solution you'd like

*

### Describe alternatives you've considered

*

### Affected users and/or printers

All

### Additional information & file uploads

_No response_

[2022-05-27 06:51] tpimh commented on #287
Just updated to Cura 5.0, and couldn't install the plugin.

https://marketplace.ultimaker.com/app/cura/plugins/Jeredian/MKSWifiPlugin => "The given author does not exist."

Manual installation worked fine.

[2022-05-27 07:43] Jeredian commented on #287
@tpimh , You are right, you can't find our plugin directly on Market, because as default it shows up plugin for latest Cura, and as you can see we just merged last fixes yesterday. For now you can use manual installation from the develop brach.

We will provide new release of the plugin soon.

[2022-05-27 10:11] tpimh commented on #287
Thank you for clarification! As I mentioned, manual installation worked perfectly.

[2022-05-27 18:49] Jeredian opened #305 "Update documentation"
- Update information about min supported version
- Add information about `*.curapackage` updates
- Update information about translations and `*.mo`| `*.po` files generation

[2022-05-27 21:59] #302 closed, assigned to nobody

[2022-05-28 13:51] #301 closed, assigned to nobody

[2022-05-28 20:40] #300 closed, assigned to Jeredian

[2022-05-28 20:41] Jeredian opened #308 "Support auto version bump after|before release"
Add new workflow to update version in plugin.json before and after release.
As solution be may try to check draft version and set in to the plugin.json.

try solution based on https://github.com/jossef/action-set-json-field

[2022-05-28 20:49] Jeredian opened #309 "Update Translation workflow"
Add new workflows with Pull-Request creation, when new content was pushed to the develop branch

[2022-05-30 10:14] #271 closed, assigned to nobody

[2022-05-30 17:18] #275 closed, assigned to nobody

[2022-05-31 07:00] Jeredian opened #311 "[DEV] Release 1.4.0"
## Release notes
### Breaking changes:
**The `Cura 4.x` is no longer supported, minimum Cura version is  `5.0`**
### Features:
* #287
* #302
* #300
* #281
* #283
### Bugfixes:
* #271
* #301
* #235
### Community changes:
* #288
* #292

[2022-05-31 07:12] #311 closed, assigned to nobody

[2022-06-01 13:21] Kite79 opened #314 "File name lengt"
### What is your question?

Hi all and so sorry for my question...
I have Fling Bear Ghost 5 like 3d printer, with board Mks Robin Nano V3, Marlin last update. now i use Cura 5 and i have this problem:
Problem 1:
When i send file from cura 5 to my printer using Wifi the file name change and go as FBG~1.
don't accept long file name;
Problem 2:
some times lost connection and re-connect endlessly, fo

[2022-06-04 02:13] FedorSosnin opened #315 "Cura 5.0, MKS Plugin 1.4.0. Cannot connect to machine."
### Plugin Version

1.4.0

### Cura Version

5.0

### Platform

Mac OSX 13.2.1 (M1 Max)

### Printer

Kywoo3D Tycoon

### Reproduction steps

1.Install app via .curapackage file
2. Open plugin (After restarting Cura)
3. Add IP address
4. Click "Connect"

### Actual results

Nothing happens after clicking connect. Tried reinstalling both manually and via package.

### Expected results

Connect to p

[2022-06-06 09:05] Elkin-Vasily commented on #315
Hi! Try this:

1. Install app via .curapackage file
2. Open plugin (After restarting Cura)
3. Add IP address
4. Select string with IP address
5. Click "Connect"

[2022-06-06 09:08] Elkin-Vasily commented on #314
1) Your printer firmware shortens file names when they uploaded via WiFi
2) Attach a log-file please
3) Try latest plugin version from the market

[2022-06-06 13:18] Fulvio1 opened #316 "Continuous connection and disconnection to WiFi"
### Plugin Version

1.4

### Cura Version

5.0

### Platform

Windows 10

### Printer

Flsun Q5

### Reproduction steps

Installing new version of MKS WiFi for Cura 5.00 from the market.
Reboot Cura

### Actual results

The connection is not stable. It connects and disconnects all the time making it impossible to use!

### Expected results

A stable connection with the printer!

### Checklist of f

[2022-06-06 16:14] Kite79 commented on #316
Same problem:
Plugin Version
1.4

Cura Version
5.0

Platform
Windows 10

Printer
Flying bear Ghost 5  \\ Board Mks mini nano v3.1

Reproduction steps
Installing new version of MKS WiFi for Cura 5.00 from the market.
Reboot Cura

Actual results
The connection is not stable. It connects and disconnects all the time making it impossible to use!

Expected results
A stable connection with the printer!

[2022-06-06 19:24] FlyDrag commented on #316
I discovered the same issue. This is not 100% reproducible, sometimes the plugin works fine. I have a deep network experience, so I made some simple troubleshooting of this issue.

1. I stopped cura and checked is the MKS WIFI firmware on my printer works as expected. I configured a proper session in putty and checked printer connection:
![изображение](https://user-images.githubusercontent.com/663

[2022-06-06 19:47] FedorSosnin commented on #315
I'm sorry, I didnt include that in my steps by accident but step 4 should have been there. After selecting the IP wasn't working I tried adding the name, in my case "Kywoo3D", and got the same result.

[2022-06-06 21:34] Elkin-Vasily commented on #315
Ok, attach a log-file please

[2022-06-08 14:07] iqubik commented on #315
Also get this bug on flsun q5

[2022-06-08 14:09] iqubik commented on #315
[cura.log](https://github.com/Jeredian/mks-wifi-plugin/files/8862287/cura.log)
2022-06-08 17:08:59,123 - DEBUG - [MainThread] MKSWifiPlugin.MKSOutputDevicePlugin.mks_current_ip_check [78]: mks_current_ip_check called
2022-06-08 17:08:59,210 - WARNING - [MainThread] UM.Qt.QtApplication.__onQmlWarning [431]: file:///C:/Program Files/Ultimaker Cura 5.0.0/share/cura/plugins/MonitorStage/MonitorMain.qm

[2022-06-08 14:38] FedorSosnin commented on #315
Sure thing. Here is mine:

[cura.log](https://github.com/Jeredian/mks-wifi-plugin/files/8862618/cura.log)

[2022-06-08 14:54] iqubik commented on #315
Так же чистый лог. Без дополнительных плагинов. Несколько запусков
[cura.log](https://github.com/Jeredian/mks-wifi-plugin/files/8862785/cura.log)
Что интересно так и 4 версия перестала подключаться к принтеру в отличии от прюшаслайсера и её плагина

[2022-06-10 11:14] #282 closed, assigned to nobody

[2022-06-11 12:21] laurent7878 commented on #316
same issue too. When i uninstall plugin and add beta version it works again.

[2022-06-11 14:43] iqubik commented on #315
У вас написано что плагин для mks tft 4.0 а на flsun q5 экран меньше. И в последней версии и в прошлых теперь вообще ничего не работает. Ни в 4 куре ни в 5 ни на одной из версий ничего не работает.

[2022-06-12 12:20] Elkin-Vasily opened #318 "Monitor Tab auto open not working"
### Plugin Version

1.4.1-dev

### Cura Version

5

### Platform

Mac OS

### Printer

FB5

### Reproduction steps

check monitor tab auto open checkbox

### Actual results

option does not save

### Expected results

optino saves

### Checklist of files to include

- [ ] Log file
- [ ] Project file

### Additional information & file uploads

-

[2022-06-12 12:44] #318 closed, assigned to nobody

[2022-06-13 23:50] iqubik commented on #315
Здесь кто нибудь есть:?

[2022-06-15 23:48] iqubik commented on #315
Я разобрался. Вроде работает. Сбросил виндовс к заводу. Думаю дело было в настройках приоритета траффика в windows. Поднимал ubuntu на windows 10 через wsl2 и там был ряд команд через powershell по работе с пакетами. Думаю что эти команды как то могли нарушить работу плагина.

[2022-06-16 13:22] iqubik commented on #315
Нет, после первой же перезагрузки опять вообще никакой реакции. Даже нет сообщений о реконнекте. Просто тишина.

[2022-06-16 14:23] iqubik commented on #315
нашёл интересную закономерность. Создал нового пользователя в windows 10 и поставил 5 версию с плагином из магазина - работает, а под основным пользователем нет.
Прилагаю оба лога с идентичными конфигурациями - чистая установка + плагин. Первый запуск

Не работает ничего:
[NWcura.log](https://github.com/Jeredian/mks-wifi-plugin/files/8919692/NWcura.log)

Всё работает:
[Wcura.log](https://github.co

[2022-06-16 14:59] iqubik commented on #315
Проблема была в Lantern VPN. Даже когда просто иконка отключенного Lantern висит в трее плагин не будет работать. Lantern - выход - всё ок.

[2022-06-16 15:03] FedorSosnin commented on #315
Interesting find...for Windows.

The problem still exists with or without VPN on OSX 13.2.1.

[2022-06-19 14:26] runfortop opened #320 "The setting button is gone."
### What is your question?

Hello. I've been using your great program, but I've run into difficulties that I can't use.
After adding a new 3D printer in Cura program, I tried to connect to WiFi, but the button for WiFi setting was not created. Then I went back to the original 3D printer and tried to check the WiFi connection, but the button for setting disappeared. So, even though I deleted and in

[2022-06-19 18:30] Elkin-Vasily commented on #320
Attach a cura.log please

[2022-06-19 19:39] Elkin-Vasily commented on #316
@FlyDrag thanks for your research it helped a lot.

Try to use version from this branch: https://github.com/Jeredian/mks-wifi-plugin/tree/issue-316

I cannot reproduce this bug on my setup, so i need some help with testing.

[2022-06-19 19:40] Elkin-Vasily commented on #315
Try to use this version: https://github.com/Jeredian/mks-wifi-plugin/tree/issue-316

I cannot reproduce this bug, so I need some help with testing.

[2022-06-19 23:25] runfortop commented on #320
I am attaching the stderr.log here.

[stderr.log](https://github.com/Jeredian/mks-wifi-plugin/files/8936588/stderr.log)

[2022-06-20 17:24] Elkin-Vasily commented on #320
From your log: Plugin [MKSWifiPlugin] has been disabled. Skip loading it.

Enable the plugin.

For this:
1) Open Marketplace window;
2) Click gear icon;
3) Click enable button on MKS Wifi Plugin.

[2022-06-20 22:06] Elkin-Vasily commented on #314
Closed due to inactivity

[2022-06-20 22:07] #314 closed, assigned to nobody

[2022-06-20 23:41] FlyDrag commented on #316
@Elkin-Vasily I checked this branch. It seems that this issue was fixed.
I'll keep running issue-316 branch for some time.

[2022-06-21 06:20] Elkin-Vasily opened #322 "Major feature label"
### Is your feature request related to a problem?

No

### Describe the solution you'd like

Feature label do not change second number in the plugin version

### Describe alternatives you've considered

No

### Affected users and/or printers

All

### Additional information & file uploads

_No response_

[2022-06-21 07:51] #316 closed, assigned to nobody

[2022-06-21 07:51] #315 closed, assigned to nobody

[2022-06-22 00:12] runfortop commented on #320
Success.
Thank you very much for your help. But I figured out why this was happening. The enable button you inform me is displayed with the opposite meaning in Korean. So I couldn't solve the problem.

thank you

[2022-06-22 18:03] Elkin-Vasily commented on #320
Make an issue in the Cura repository here in GitHub about this.

https://github.com/Ultimaker/Cura

[2022-06-22 18:03] #320 closed, assigned to nobody

[2022-06-24 15:58] #305 closed, assigned to nobody

[2022-07-07 11:54] #309 closed, assigned to nobody

[2022-07-07 17:56] #322 closed, assigned to nobody

[2022-07-07 17:57] Jeredian opened #328 "Fix sonarqube code smells"
<img width="522" alt="Screenshot 2022-07-07 at 20 58 22" src="https://user-images.githubusercontent.com/9591166/177838946-2abf7a87-28f5-418f-bddf-e7235f5292f7.png">

[2022-07-07 18:22] #328 closed, assigned to nobody

[2022-07-07 19:40] Jeredian opened #331 "[DEV] Release 1.4.1"
## Release notes
### Features:
* #282
### Bugfixes:
* #316
* #318
### Maintenance
* #328
* #322
* #309
#### Dependencies
* #332
### Community changes:
* #324

[2022-07-07 19:50] Jeredian opened #332 "Support the 8.1.0 version of SDK for Cura 5.1+"
Add new SDK version support "8.1.0" for Cura 5.1.0

[2022-07-07 20:23] #332 closed, assigned to nobody

[2022-07-07 20:34] #331 closed, assigned to nobody

[2022-07-08 16:06] #7 closed

[2022-07-10 11:50] pretenda opened #336 "Flying Bear Ghost 5 disconnecting/connecting constantly"
### Plugin Version

1.4.0

### Cura Version

4.13.1, 5.0.0, 5.1.0

### Platform

Windows 10 / MacOS 12.4

### Printer

Flying Bear Ghost 5

### Reproduction steps

1. Slice a file, send it to the printer
2. Close Cura
3. Reopen Cura while the printer is still printing
4. Observe!

### Actual results

<img width="1440" alt="image" src="https://user-images.githubusercontent.com/2951308/178143442-1fa

[2022-07-10 19:28] Elkin-Vasily commented on #336
This was fixed in 1.4.1.

Install this version manually from GitHub,or just wait a few days till it will be checked by Ultimaker and published in Market.

[2022-07-10 19:28] #336 closed, assigned to nobody

[2022-07-14 15:23] Elkin-Vasily opened #337 "Issue template update"
### What is your question?

Remove project file check box (doesn't need)

[2022-07-14 15:48] #337 closed, assigned to nobody

[2022-07-15 06:37] PingWIn87 opened #340 "Printer reboots when printing starts"
### Plugin Version

1.4.0

### Cura Version

5.0

### Platform

Windows 10

### Printer

Flying Bear Ghost 5

### Reproduction steps

1. slice model
2. click "Print on Flying Bear Ghost 5" button

### Actual results

the printer is rebooting

### Expected results

start printing

### Checklist of files to include

- [X] Log file

### Additional information & file uploads

[cura.log](https://github